<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-f5322615-ca5e-48ce-912b-6017ff4e6d72" data-id="f5322615-ca5e-48ce-912b-6017ff4e6d72" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">33</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">기본권과 그 의미를 알맞게 연결한 것을 고르시오.</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>사회권 : 국가의 정치적 의사 결정에 참여할 권리 </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>자유권 : 국가에 대해 일정한 행위를 요구할 수 있는 권리</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>평등권 : 성별, 종교 등에 의해 부당하게 차별받지 않을 권리</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>참정권 : 국가에 대해 인간다운 생활의 보장을 요구할 수 있는 권리</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>청구권 : 인간으로서의 가치를 존중받으며 행복을 추구할 수 있는 권리</p></div></div></div>
          </div>
          <div id="entry-d47be1e0-51b4-47b0-9f03-bb9a9b5ebae8" data-id="d47be1e0-51b4-47b0-9f03-bb9a9b5ebae8" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">34</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">(가), (나)를 포함하는 기본권을 알맞게 연결한 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:283px;height:43px;vertical-align:middle;" class="itex_box_body"><div class="itex_box_element"><p class="para0">(가) 선거권, 공무 담임권, 국민 투표권 등</p></div><div class="itex_box_element"><p class="para0">(나) 청원권, 재판 청구권, 국가 배상 청구권 등</p></div></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가) : 사회권, (나) : 자유권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가) : 자유권, (나) : 참정권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(가) : 참정권, (나) : 청구권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(가) : 청구권, (나) : 평등권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(가) : 평등권, (나) : 사회권</p></div></div></div>
          </div>
          <div id="entry-4e7bd714-7f32-4077-9c18-0b844e2e84b5" data-id="4e7bd714-7f32-4077-9c18-0b844e2e84b5" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">35</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 우리나라 헌법 조항이 직접 규정하고 있는 기본권에 대한 설명으로 알맞은 것을 고르시오. </p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:283px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">제29조 ① 공무원의 직무상 불법 행위로 손해를 받은 국민은 법률이 정하는 바에 의하여 국가 또는 공공 단체에 정당한 배상을 청구할 수 있다. …….</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>모든 기본권이 추구하는 최고의 가치이다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>다른 기본권을 보장하기 위한 전제 조건이 된다.&nbsp;&nbsp; </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>국가에 대해 적극적인 배려를 요구하는 권리이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>다른 기본권을 보장하기 위한 수단적 성격을 지닌다.&nbsp;&nbsp;&nbsp;&nbsp; </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>행복 추구에 필요한 모든 자유와 권리를 담고 있는 포괄적 권리이다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>