<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-15114275-7c31-49c4-9d0a-6b7e3323b33f" data-id="15114275-7c31-49c4-9d0a-6b7e3323b33f" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">105</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">밑줄 친 부분이 가리키는 용어로 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">우리나라는 헌법에 따라 임금, 근로 시간, 휴가 등 <span style="text-decoration:underline;text-decoration-color:black;">근로자가 노동력을 제공할 수 있는 조건</span>을 법으로 정해 두고 있다. </p></td></tr></tbody></table></div></div>
          </div>
          <div id="entry-f53bdc2e-f258-44ed-ba66-de3db140c0da" data-id="f53bdc2e-f258-44ed-ba66-de3db140c0da" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">106</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">법률로 정해진 근로 조건의 원칙으로 알맞은 것을 고르시오.</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>근로 시간에는 휴식 시간이 포함된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>법률로 정한 가장 낮은 임금 이상을 지급해야 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>근로자가 원하지 않으면 휴식 시간을 주지 않아도 된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>임금은 현금뿐 아니라 상품이나 상품권으로도 지급할 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>일단 작성한 근로 계약서는 어떤 경우에도 무효가 될 수 없다.</p></div></div></div>
          </div>
          <div id="entry-f67bd71b-8ff0-4676-8c7a-3e96cbf34890" data-id="f67bd71b-8ff0-4676-8c7a-3e96cbf34890" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">107</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;에서 청소년의 근로와 관련한 원칙을 <span style="color:#ff0000;">모두 </span>골라 알맞게 <span style="color:#ff0000;">짝 지은</span> 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><div class="itex_box_element"><p class="para0">ㄱ. 15세 미만의 청소년은 근로할 수 없다.</p></div><div class="itex_box_element"><p class="para0">ㄴ. 사용자는 청소년에게 직접 임금을 지급해야 한다.</p></div><div class="itex_box_element"><p class="para0">ㄷ. 근로 계약은 부모 등 친권자가 대신 맺을 수 있다.</p></div><div class="itex_box_element"><p class="para0">ㄹ. 15세 이상 18세 미만인 근로자는 1일 8시간을 근로할 수 있다.</p></div></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-39c235ad-c7ec-43d3-b835-b6b44559272e" data-id="39c235ad-c7ec-43d3-b835-b6b44559272e" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">108</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 글에서 설명하는 제도의 목적으로 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">국가가 임금의 최저 수준을 정하여 사용자에게 그 수준 이상의 임금을 지급하도록 법으로 강제한다.</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>근로자의 고용을 줄인다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>근로자에게 적정한 임금을 보장한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>인간답게 일할 수 있는 최고 기준을 정한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>사용자의 최소한의 인간다운 생활을 보장한다.</p></div><div class="sel_list"><p instid="2974866275" class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>근로자에 비해 상대적으로 약자인 사용자의 인간 존엄성을 보장한다.</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>