<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-1cfdadd5-2779-4e74-aeae-b41145197e05" data-id="1cfdadd5-2779-4e74-aeae-b41145197e05" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">119</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">(가)~(다)에서 설명하는 노동 삼권의 내용을 알맞게 연결한 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:279px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:279px;height:43px;vertical-align:middle;" class="itex_box_body"><div class="itex_box_element"><p class="para0">(가) 노동조합을 만들거나 노동조합에 가입하여 활동할 수 있는 권리 </p></div><div class="itex_box_element"><p class="para0">(나) 노동조합을 통해 사용자와 근로 조건에 관하여 협의할 수 있는 권리</p></div><div class="itex_box_element"><p class="para0">(다) 근로 조건에 관한 협의가 원만하게 이루어지지 않을 경우 쟁의 행위를 할 수 있는 권리</p></div></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가) : 단결권, (나) : 단체 교섭권, (다) : 단체 행동권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가) : 단결권, (나) : 단체 행동권, (다) : 단체 교섭권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(가) : 단체 교섭권, (나) : 단결권, (다) : 단체 행동권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(가) : 단체 교섭권, (나) : 단체 행동권, (다) : 단결권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(가) : 단체 행동권, (나) : 단결권, (다) : 단체 교섭권</p></div></div></div>
          </div>
          <div id="entry-d9e6e052-13df-404e-9fe2-d7790c39ea52" data-id="d9e6e052-13df-404e-9fe2-d7790c39ea52" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">120</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 권리들을 헌법에 따라 보장하는 목적으로 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">∙단결권</p><p class="para0">∙단체 교섭권</p><p class="para0">∙단체 행동권</p><p></p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>근로 조건을 향상한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>사용자의 경제적 지위를 높인다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>근로자와 사용자 간의 분쟁을 늘린다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>사용자의 인권보다 근로자의 인권이 더 중요함을 밝힌다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>근로자가 사용자보다 우월한 위치에서 근로 조건을 협의할 수 있도록 한다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>