<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-53803844-a782-45a7-974c-a09e67df28ee" data-id="53803844-a782-45a7-974c-a09e67df28ee" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">21</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 그림에 대한 설명으로 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:137px;height:118px;vertical-align:middle;"><p class="para0" style="text-align:center;"><span style="color:#ff0000;font-weight:bold;"><span style=";display:inline-block;position:relative;top:0px; "><img style="width:113px;" src="https://d35bbraqcyivyx.cloudfront.net/FTC5001/0x4FBCA4C8F1CE11ECAF1292822AA13F8C.jpg" data-width="75px, 113px"></span></span></p></td><td colspan="1" rowspan="1" style="border:1px solid black;width:137px;height:118px;vertical-align:middle;"><p class="para0" style="text-align:center;"><span style="color:#ff0000;font-weight:bold;"><span style=";display:inline-block;position:relative;top:0px; "><img style="width:113px;" src="https://d35bbraqcyivyx.cloudfront.net/FTC5001/0x4FDB620AF1CE11ECAF1292822AA13F8C.jpg" data-width="75px, 113px"></span></span></p></td></tr><tr><td colspan="1" rowspan="1" style="border-top:1px solid black;border-right:1px none black;border-bottom:1px none black;border-left:1px none black;width:137px;height:20px;vertical-align:middle;"><p class="para0" style="text-align:center;"><span style="font-weight:bold;">▲</span> 고대의 노예</p></td><td colspan="1" rowspan="1" style="border-top:1px solid black;border-right:1px none black;border-bottom:1px none black;border-left:1px none black;width:137px;height:20px;vertical-align:middle;"><p class="para0" style="text-align:center;">▲ 중세의 농노</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>고대의 노예는 기본적인 자유와 권리를 누릴 수 있었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>고대의 노예와 중세의 농노는 인권을 제대로 존중받지 못하였다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>고대의 노예와 중세의 농노는 부르는 명칭 외에는 차이가 없었다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>중세의 농노는 자유와 평등을 보장받기 위해 시민 혁명을 일으켰다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>중세의 농노는 영주의 토지에서 농사를 지었지만 인격적으로 충분히 존중받았다.</p></div></div></div>
          </div>
          <div id="entry-fb0c2f89-0a11-478c-a869-0e1f0173aca6" data-id="fb0c2f89-0a11-478c-a869-0e1f0173aca6" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">22</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">시민 혁명에 대한 설명으로 알맞지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것을 고르시오.</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>시민의 자유와 평등이 제도적으로 보장되기 시작하였다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>절대 군주의 억압에 맞서 인권을 보장받기 위해 발생하였다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>근대 이전에 비해 인권 보장의 범위가 넓어지는 계기가 되었다.<span style="">&nbsp;</span></p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>인류가 이성의 힘에 의해 무한히 발전할 수 있다는 사상의 영향을 받았다.&nbsp;&nbsp;</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>현대 사회에서 모든 사람이 보편적으로 누려야 할 인권의 기준을 제시하였다. </p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>