<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-2e39a962-8189-4915-95c4-828693d14cf7" data-id="2e39a962-8189-4915-95c4-828693d14cf7" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">26</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">다음 중, ㉠에 적용된 비유가 나타나지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>구름에 달 가듯이 / 가는 나그네 </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>내 사랑은 아지랑이 / 춘삼월(春三月) 아지랑이</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>우리는 얻어맞은 찹쌀처럼 / 차지게 손을 잡았지</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>백지같이 깨끗한 네 마음속에 / 또렷이 소중히 새겨 넣어라</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>안동댐 민속촌의 헛제삿밥 같은, / 그런 것들을 시랍시고 쓰지는 말자.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>