<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/kor/mk_n_101_3_A-1.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/kor/mk_n_101_3_A-2.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/kor/mk_n_101_3_A-3.png);"></div>
</page>