<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-d8500f0a-c11c-4995-b700-fbef65b3f173" data-id="d8500f0a-c11c-4995-b700-fbef65b3f173" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">㉠<span style="text-decoration:underline;text-decoration-color:black;">내를 건너서 숲으로</span></p><p class="para0" style="text-align:left;">고개를 넘어서 마을로</p><p class="para0" style="text-align:left;">어제도 가고 오늘도 갈</p><p class="para0" style="text-align:left;">나의 길 새로운 길</p><p class="para0" style="text-align:left;">㉡<span style="text-decoration:underline;text-decoration-color:black;">민들레가 피고 까치가 날고</span></p><p class="para0" style="text-align:left;">㉢<span style="text-decoration:underline;text-decoration-color:black;">아가씨가 지나고 바람이 일고</span></p><p class="para0" style="text-align:left;">㉣<span style="text-decoration:underline;text-decoration-color:black;">나의 길은 언제나 새로운 길</span></p><p class="para0" style="text-align:left;">오늘도…… 내일도……</p><p class="para0" style="text-align:left;">내를 건너서 숲으로</p><p class="para0" style="text-align:left;">㉤<span style="text-decoration:underline;text-decoration-color:black;">고개를 넘어서 마을로</span></p><p class="para0" style="text-align:right;">윤동주, &lt;새로운 길&gt;</p>
              </div>
            
        </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>