<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-0053057c-22a4-4db8-b75a-f6a77c780a2b" data-id="0053057c-22a4-4db8-b75a-f6a77c780a2b" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">내를 건너서 ㉠<span style="text-decoration:underline;text-decoration-color:black;">숲</span>으로</p><p class="para0" style="text-align:left;">고개를 넘어서 마을로</p><p class="para0" style="text-align:left;">어제도 가고 오늘도 갈</p><p class="para0" style="text-align:left;">나의 길 새로운 ㉡<span style="text-decoration:underline;text-decoration-color:black;">길</span></p><p class="para0" style="text-align:left;">민들레가 피고 까치가 날고</p><p class="para0" style="text-align:left;">아가씨가 지나고 ㉢<span style="text-decoration:underline;text-decoration-color:black;">바람</span>이 일고</p><p class="para0" style="text-align:left;">ⓐ<span style="text-decoration:underline;text-decoration-color:black;">나의 길은 언제나 새로운 길</span></p><p class="para0" style="text-align:left;">오늘도…… ㉣<span style="text-decoration:underline;text-decoration-color:black;">내일</span>도……</p><p class="para0" style="text-align:left;">내를 건너서 숲으로</p><p class="para0" style="text-align:left;">고개를 넘어서 ㉤<span style="text-decoration:underline;text-decoration-color:black;">마을</span>로</p><p class="para0" style="text-align:right;">윤동주, &lt;새로운 길&gt;</p>
              </div>
            
          </div>
          <div id="entry-d7904d26-9f7c-4d38-846a-471d36a6c37a" data-id="d7904d26-9f7c-4d38-846a-471d36a6c37a" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">44</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글을 읽고 떠오르는 느낌이나 정서로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>기대감</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>정다움</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>환상적</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>희망참</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>평화로움</p></div></div></div>
          </div>
          <div id="entry-899e3cf7-f269-49fc-9b47-290eb610ea1c" data-id="899e3cf7-f269-49fc-9b47-290eb610ea1c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">45</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤ 중, ‘민들레’가 의미하는 바와 유사한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>