<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-69a05fb0-6937-4cb0-9aab-b0ddca511b3d" data-id="69a05fb0-6937-4cb0-9aab-b0ddca511b3d" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">53</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글과 &lt;보기&gt;에 나타난 표현 방식의 공통점으로 적절한 것은?</p><div class="para0"><table style="border-collapse:collapse;width:257px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">푸른 바다에 고래​가 없으면</p><p class="para0">푸른 바다가 아니지</p><p class="para0">마음속에 푸른 바다의</p><p class="para0">고래 한 마리 키우지 않으면</p><p class="para0">청년​이 아니지</p><p class="para0">푸른 바다가 고래를 위하여</p><p class="para0">푸르다는 걸 아직 모르는 사람은</p><p class="para0">아직 사랑을 모르지</p><p class="para0">고래도 가끔 수평선 위로 치솟아올라</p><p class="para0">별을 바라본다</p><p class="para0">나도 가끔 내 마음속의 고래를 위하여</p><p class="para0">밤하늘 별들을 바라본다</p><p class="para0" style="text-align:right;">- 정호승, &lt;고래를 위하여&gt;</p><p></p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>이 글과 &lt;보기&gt; 모두 상징적 표현이 드러난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>이 글과 &lt;보기&gt; 모두 대상을 의인화한 표현이 드러난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>이 글과 &lt;보기&gt; 모두 움직임을 흉내 낸 표현이 드러난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>이 글과 &lt;보기&gt; 모두 푸른색을 나타내는 표현이 드러난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>이 글과 &lt;보기&gt; 모두 이어 주는 말을 사용해 비유한 표현이 드러난다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-2a6bb52f-672c-4c3b-bf30-f5591d9fe875" data-id="2a6bb52f-672c-4c3b-bf30-f5591d9fe875" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">내를 건너서 숲으로</p><p class="para0" style="text-align:left;">고개를 넘어서 마을로</p><p class="para0" style="text-align:left;">어제도 가고 오늘도 갈</p><p class="para0" style="text-align:left;">나의 길 새로운 길</p><p class="para0" style="text-align:left;">민들레가 피고 까치가 날고</p><p class="para0" style="text-align:left;">아가씨가 지나고 바람이 일고</p><p class="para0" style="text-align:left;">나의 길은 언제나 새로운 길</p><p class="para0" style="text-align:left;">오늘도…… 내일도……</p><p class="para0" style="text-align:left;">내를 건너서 숲으로</p><p class="para0" style="text-align:left;">고개를 넘어서 마을로</p><p class="para0" style="text-align:right;">윤동주, &lt;새로운 길&gt;</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>