<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-a621568d-442f-47ad-985d-47ec210518f3" data-id="a621568d-442f-47ad-985d-47ec210518f3" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">65</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">다음 중, ㉡의 의미로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>학교에 가지 않겠다고 투정을 부리는 것이다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>순이와 함께 학교를 가게 되어서 기쁜 것이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>학교에 좋아하는 친구가 생겨서 설레는 것이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>어머니가 맛있는 반찬을 해주어서 기운이 난 것이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>아버지가 머슴살이를 그만둔다고 해서 희망을 가진 것이다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>