<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-26c87bf3-0740-4c26-8b7c-7a73ae0c1026" data-id="26c87bf3-0740-4c26-8b7c-7a73ae0c1026" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">책 보퉁이는 용이 제 것까지 모두 일곱 개나 되었습니다.</p><p class="para22" style="text-align:left;">책 보퉁이를 용이에게 맡겨 버린 아이들은 모두 소리치면서 산길을 달려 올라갔습니다.</p><p class="para22" style="text-align:left;">“올해만 참자!”</p><p class="para22" style="text-align:left;">용이는 언제나처럼 바위 밑에 가서 참나무 지겟작대기를 찾아와 책 보퉁이를 모두 꿰어 달았습니다. 그러고는 어깨로 가운데를 메고 올라가기 시작했습니다.</p><p class="para22" style="text-align:left;">아침 햇빛이 산 위에서 쫙 비쳐 내렸습니다.</p><p class="para22" style="text-align:left;">고갯마루까지는 산허리를 세 번이나 돌면서 올라가야 합니다. 더구나 오늘은 책 보퉁이가, 모두 한 학년씩 올라가서 그런지 굉장히 무겁습니다. </p><p class="para22" style="text-align:left;">용이는 첫 굽이를 돌아가기도 전에 마른 잔디 위에 앉아 쉬어야 했습니다. 이렇게 무거운 짐을 날마다 메고 올라가야 할 일을 생각하니 기가 막힙니다.</p><p class="para22" style="text-align:left;">더구나 5학년의 성윤이까지 맡기기 시작했으니 이러다가 올해는 지게로 져다 날라야 할지 모릅니다. 이걸 어떻게 하나?</p><p class="para22" style="text-align:left;">저 밑에서 따라 올라오던 2학년, 3학년 아이들이 모두 책 보퉁이를 허리에 둘러매고 용이를 앞질러 올라갑니다. 그 아이들은 용이를 돌아보면서 저희끼리 무엇이라 수군거렸습니다.</p><p class="para22" style="text-align:left;">“헤헤, 4학년이 됐다는 아이가 남의 책 보퉁이나 메다 주고…….”</p><p class="para22" style="text-align:left;">“참 못난 아이제.” / 모두 이런 말로 수군거리는 것 같았습니다.</p><p class="para22" style="text-align:left;">‘뭐, 못난 아이라고?’</p><p class="para22" style="text-align:left;"><span style="">ⓑ</span><span style="text-decoration:underline;text-decoration-color:black;">용이는 화가 났습니다.</span><span style=""> 벌써 고개 위에 다 올라갔는지 아이들의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다.</span></p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-152dc01c-d372-4d02-92b6-cc959d2274c2" data-id="152dc01c-d372-4d02-92b6-cc959d2274c2" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">70</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤ 중, 용이의 어려운 가정 형편을 보여 주는 소재로 알맞은 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 보리밥 그릇</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 국민학교</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 바구니</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 밥숟갈</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 참꽃</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-6e8db1de-2f29-4299-8e5a-1bf23ee9bf2c" data-id="6e8db1de-2f29-4299-8e5a-1bf23ee9bf2c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">71</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">아이들이 ⓐ와 같이 행동한 이유로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이가 나서서 스스로 청한 일이기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>용이가 친구들과 한 내기에서 졌기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용이가 친구들에게 부당한 요구를 했기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>용이가 친구들 사이에서 힘이 가장 세기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이가 짐을 대신 날라야 한다고 생각하기 때문이다.</p></div></div></div>
          </div>
          <div id="entry-4f05d895-a9c4-4128-be01-7aab2db5d3c3" data-id="4f05d895-a9c4-4128-be01-7aab2db5d3c3" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">72</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">ⓑ의 이유로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>친구들과 학교 가는 길이 너무 멀었기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>2, 3학년 아이들이 용이를 도와주지 않았기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>친구들이 자기보다 빨리 고갯마루에 올라갔기 때문이다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>2, 3학년 아이들이 자신을 비웃는다는 생각이 들었기 때문이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이의 아버지가 머슴살이를 그만둔다는 약속을 어겼기 때문이다.</p></div></div></div>
          </div>
          <div id="entry-132a7249-14eb-48e0-936a-c160f9344b8c" data-id="132a7249-14eb-48e0-936a-c160f9344b8c" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">73</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">소설에서 나타나는 비유적 표현의 효과로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>개성 있는 문장 표현을 할 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>복잡한 주제를 효과적으로 전달할 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>등장인물의 마음을 직접적으로 드러낼 수 있다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>말하고자 하는 바를 구체적으로 표현할 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>전하고자 하는 의미를 인상적으로 나타낼 수 있다.</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>