<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-26c87bf3-0740-4c26-8b7c-7a73ae0c1026" data-id="26c87bf3-0740-4c26-8b7c-7a73ae0c1026" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;"><span style="">ⓑ</span><span style="text-decoration:underline;text-decoration-color:black;">용이는 화가 났습니다.</span><span style=""> 벌써 고개 위에 다 올라갔는지 아이들의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다.</span></p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-152dc01c-d372-4d02-92b6-cc959d2274c2" data-id="152dc01c-d372-4d02-92b6-cc959d2274c2" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">70</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤ 중, 용이의 어려운 가정 형편을 보여 주는 소재로 알맞은 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 보리밥 그릇</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 국민학교</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 바구니</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 밥숟갈</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 참꽃</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>