<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-755068cd-5d7b-48cf-8815-48d668b6a977" data-id="755068cd-5d7b-48cf-8815-48d668b6a977" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;"><span style="">용이는 화가 났습니다. 벌써 고개 위에 다 올라갔는지 아이들의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다. 발밑에 돌멩이 하나가 밟혔습니다. 용이는 벌떡 일어나 그 돌멩이를 집어 힘껏 골짜기 아래로 던졌습니다. 돌멩이가 저 밑에 떨어지자, 갑자기 온 산골을 뒤흔드는 소리를 치면서 ㉤</span><span style="text-decoration:underline;text-decoration-color:black;">커다란 뭉텅이 하나</span><span style="">가 솟아올랐습니다.</span></p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-9ec29055-57dc-451d-a2bf-90b69f8b15f4" data-id="9ec29055-57dc-451d-a2bf-90b69f8b15f4" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">78</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 인물에 대한 이해로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>어머니는 용이가 학교에 가도록 설득하였다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>용이는 아이들의 부당한 요구를 거절하지 못했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>순이는 어려운 가정 형편 때문에 학교를 그만두었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>아버지는 용이를 위해 자신의 직업을 바꿀 계획이 있었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>성윤이는 용이가 기운이 세졌다는 핑계로 책 보퉁이를 떠넘겼다.</p></div></div></div>
          </div>
          <div id="entry-bc32b502-4e2f-407c-9d19-20dc74a1f1bc" data-id="bc32b502-4e2f-407c-9d19-20dc74a1f1bc" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">79</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤의 의미로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 곰보딱지: 순이가 아이들에게 놀림을 받은 이유이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 머슴살이: 용이가 아이들의 책 보퉁이를 떠맡는 것과 연관된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 참꽃: 짐을 들어주는 용이에게 고마움의 표시로 준 것이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 고갯길: 남의 짐을 대신 메는 용이의 어려움을 강조한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 커다란 뭉텅이 하나: 용이가 고갯길에서 우연히 보게 된 대상이다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-aa9fa3dc-99a9-4686-9bcd-a7e2d4af068f" data-id="aa9fa3dc-99a9-4686-9bcd-a7e2d4af068f" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">80</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">ⓐ와 ⓑ에 담긴 용이의 심리로 적절한 것만을 짝지으면?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>ⓐ: 희망, ⓑ: 심심함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>ⓐ: 기대감, ⓑ: 막막함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>ⓐ: 통쾌함, ⓑ: 외로움</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>ⓐ: 호기심, ⓑ: 열등감</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>ⓐ: 후련함, ⓑ: 부끄러움</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>