<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-3ed97760-6960-47ca-91c8-58b612ef81fe" data-id="3ed97760-6960-47ca-91c8-58b612ef81fe" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">고갯마루까지는 산허리를 세 번이나 돌면서 올라가야 합니다. 더구나 오늘은 책 보퉁이가, 모두 한 학년씩 올라가서 그런지 굉장히 무겁습니다. </p><p class="para22" style="text-align:left;">용이는 첫 굽이를 돌아가기도 전에 마른 잔디 위에 앉아 쉬어야 했습니다. 이렇게 무거운 짐을 날마다 메고 올라가야 할 일을 생각하니 기가 막힙니다.</p><p class="para22" style="text-align:left;">더구나 5학년의 성윤이까지 맡기기 시작했으니 이러다가 올해는 지게로 져다 날라야 할지 모릅니다. 이걸 어떻게 하나?</p><p class="para22" style="text-align:left;">저 밑에서 따라 올라오던 2학년, 3학년 아이들이 모두 책 보퉁이를 허리에 둘러매고 용이를 앞질러 올라갑니다. 그 아이들은 용이를 돌아보면서 저희끼리 무엇이라 수군거렸습니다.</p><p class="para22" style="text-align:left;">“헤헤, 4학년이 됐다는 아이가 남의 책 보퉁이나 메다 주고…….”</p><p class="para22" style="text-align:left;">“참 못난 아이제.” / 모두 이런 말로 수군거리는 것 같았습니다.</p><p class="para22" style="text-align:left;"><span style="">‘뭐, (A)</span><span style="text-decoration:underline;text-decoration-color:black;">못난 아이</span><span style="">라고?’</span></p><p class="para22" style="text-align:left;">용이는 화가 났습니다. 벌써 고개 위에 다 올라갔는지 아이들의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다.</p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-293fab84-62d3-42aa-aef3-26c1dff4147c" data-id="293fab84-62d3-42aa-aef3-26c1dff4147c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">90</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글에 나타난 특징으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>인물의 마음을 변화시키는 소재가 등장한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>인물의 속마음을 자연물로 비유하여 표현한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>글쓴이가 경험한 실화를 바탕으로 한 이야기이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>현재와 과거가 서로 엇갈리면서 이야기가 전개된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>인물 간의 대화를 통해 인물이 갈등하는 원인이 드러난다.</p></div></div></div>
          </div>
          <div id="entry-fc474504-1e4c-43c9-abdc-054b2e6e1d35" data-id="fc474504-1e4c-43c9-abdc-054b2e6e1d35" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">91</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(A) ‘못난 아이’가 가리키는 인물과 이 인물을 이해한 내용으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(A) 용이: 가난한 가정환경과 부모님을 늘 원망한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(A) 용이: 아이들의 부당한 요구를 거절하지 못한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(A) 순이: 자신의 처지에 대해 속상해하고 분노한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(A) 순이: 2, 3학년 아이들이 자신을 비웃는다고 생각한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(A) 성윤이: 4학년 아이들과 어울리는 것을 좋아한다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>