<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-9a6cad7b-635e-4b9d-9ed5-ad7f5bcc8083" data-id="9a6cad7b-635e-4b9d-9ed5-ad7f5bcc8083" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">(다) 그러다가 산기슭을 돌아 고갯길에 올라섰을 때 그들은 모두 용이 발밑에 책 보퉁이를 던졌습니다. 3년 동안 용이 어깨에 매달려 재를 넘어가고 넘어오던 책 보퉁이들입니다. 용이 아버지가 같은 동네에서 머슴살이를 하고 있기 때문에 아이들은 모두 용이까지 남의 짐을 날라 주어야 하는 것으로 생각하고 있는 것입니다.</p><p class="para22" style="text-align:left;">“자! 인마, 너 이제 4학년이 돼서 기운도 세졌잖아. 하나 더 날라라.”</p><p class="para22" style="text-align:left;">지금까지 같은 반의 아이들만 그렇게 하던 것이 오늘은 한 학년 위의 성윤이까지도 따라와 이렇게 말하면서 커다란 책 보퉁이를 놓고 갑니다.</p><p class="para22" style="text-align:left;">책 보퉁이는 용이 제 것까지 모두 일곱 개나 되었습니다.</p><p class="para22" style="text-align:left;">책 보퉁이를 용이에게 맡겨 버린 아이들은 모두 소리치면서 산길을 달려 올라갔습니다.</p><p class="para22" style="text-align:left;">“올해만 참자!”</p><p class="para22" style="text-align:left;">용이는 언제나처럼 바위 밑에 가서 참나무 지겟작대기를 찾아와 책 보퉁이를 모두 꿰어 달았습니다. 그러고는 어깨로 가운데를 메고 올라가기 시작했습니다.</p><p class="para22" style="text-align:left;">아침 햇빛이 산 위에서 쫙 비쳐 내렸습니다.</p><p class="para22" style="text-align:left;">고갯마루까지는 산허리를 세 번이나 돌면서 올라가야 합니다. 더구나 오늘은 책 보퉁이가, 모두 한 학년씩 올라가서 그런지 굉장히 무겁습니다.</p><p class="para22" style="text-align:left;">용이는 첫 굽이를 돌아가기도 전에 마른 잔디 위에 앉아 쉬어야 했습니다. 이렇게 무거운 짐을 날마다 메고 올라가야 할 일을 생각하니 기가 막힙니다.</p><p class="para22" style="text-align:left;">더구나 5학년의 성윤이까지 맡기기 시작했으니 이러다가 올해는 지게로 져다 날라야 할지 모릅니다. 이걸 어떻게 하나?</p><p class="para22" style="text-align:left;">(라) 저 밑에서 따라 올라오던 2학년, 3학년 아이들이 모두 책 보퉁이를 허리에 둘러매고 용이를 앞질러 올라갑니다. 그 아이들은 용이를 돌아보면서 저희끼리 무엇이라 수군거렸습니다.</p><p class="para22" style="text-align:left;">“헤헤, 4학년이 됐다는 아이가 남의 책 보퉁이나 메다 주고…….”</p><p class="para22" style="text-align:left;">“참 못난 아이제.” / 모두 이런 말로 수군거리는 것 같았습니다.</p><p class="para22" style="text-align:left;">‘뭐, 못난 아이라고?’</p><p class="para22" style="text-align:left;">용이는 화가 났습니다. 벌써 고개 위에 다 올라갔는지 아이들의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다. 발밑에 돌멩이 하나가 밟혔습니다. 용이는 벌떡 일어나 그 돌멩이를 집어 힘껏 골짜기 아래로 던졌습니다. 돌멩이가 저 밑에 떨어지자, 갑자기 온 산골을 뒤흔드는 소리를 치면서 커다란 뭉텅이 하나가 솟아올랐습니다.</p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>