<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-d9876cf0-044e-4be1-8f1a-943e76f17e57" data-id="d9876cf0-044e-4be1-8f1a-943e76f17e57" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;"><span style="">용이는 화가 났습니다. 벌써 고개 위에 다 올라갔는지 ⓑ</span><span style="text-decoration:underline;text-decoration-color:black;">아이들</span><span style="">의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다. 발밑에 돌멩이 하나가 밟혔습니다. 용이는 벌떡 일어나 그 돌멩이를 집어 힘껏 골짜기 아래로 던졌습니다. 돌멩이가 저 밑에 떨어지자, 갑자기 온 산골을 뒤흔드는 소리를 치면서 커다란 뭉텅이 하나가 솟아올랐습니다.</span></p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-a7a78964-c0d7-4e47-b580-062a75ce148a" data-id="a7a78964-c0d7-4e47-b580-062a75ce148a" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">99</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>인물 간의 갈등이 뚜렷하게 드러나지 않는다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>현대적인 공간을 배경으로 이야기가 펼쳐진다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>당시 사회의 모습을 비판하는 인물이 등장한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>인물의 복장을 설명해 인물의 성격을 짐작하게 한다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>공간적 배경을 활용해 인물의 괴로운 심정을 강조한다.</p></div></div></div>
          </div>
          <div id="entry-a83c326d-1003-4b92-9a0f-eb7db15fb5e8" data-id="a83c326d-1003-4b92-9a0f-eb7db15fb5e8" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">100</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">ⓐ와 관련된 용이의 마음을 한자 성어로 표현한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>감개무량(感慨無量)</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>일심동체(一心同體) </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>일편단심(一片丹心)</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>자격지심(自激之心)</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>자신만만(自信滿滿)</p></div></div></div>
          </div>
          <div id="entry-ff0a73f1-edfb-470b-9f97-84d9f25f4af7" data-id="ff0a73f1-edfb-470b-9f97-84d9f25f4af7" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">101</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">ⓑ ‘아이들’과 용이에 대한 이해로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이는 ⓑ의 행동 때문에 학교에 가기 싫었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>ⓑ는 오래전부터 용이에게 부당한 요구를 해왔다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>힘겨운 용이와 달리 ⓑ는 홀가분하게 산길을 올랐다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>고갯길에 올라서자 ⓑ는 용이에게 자신들의 짐을 맡겼다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이는 새 학년이 되면 ⓑ의 요구를 들어주지 않아도 된다고 생각했다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-b7abbdee-7a3a-4834-a873-af1e4a41dc7c" data-id="b7abbdee-7a3a-4834-a873-af1e4a41dc7c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">102</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤의 의미를 활용한 문장으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 부렸습니다: 아이는 엄마에게 어리광을 <span style="text-decoration:underline;text-decoration-color:black;">부렸다</span>.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 일어났습니다: 그는 의자에서 <span style="text-decoration:underline;text-decoration-color:black;">일어나</span> 밖으로 나갔다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 돌아: 역으로 가려면 오른쪽으로 <span style="text-decoration:underline;text-decoration-color:black;">돌아서</span> 가야 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 져다: 그는 배낭을 등에 <span style="text-decoration:underline;text-decoration-color:black;">지고</span> 걸어갔다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 메다: 신발 끈이 풀어지지 않게 잘 <span style="text-decoration:underline;text-decoration-color:black;">멨다</span>.</p></div></div></div>
          </div>
          <div id="entry-782f8c13-c837-4778-ad4d-8512738fbfd9" data-id="782f8c13-c837-4778-ad4d-8512738fbfd9" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para22" style="text-align:left;">(가) “꼬공 꼬공, 푸드득!”</p><p class="para22" style="text-align:left;">그것은 온 산골의 가라앉은 공기를 뒤흔들어 놓고 하늘을 날아오르는, 정말 살아 있는 생명의 소리였습니다.</p><p class="para22" style="text-align:left;">‘야, 참 멋지다!’</p><p class="para22" style="text-align:left;"><span style="">날개를 쫙 펴고 꽁지를 쭉 뻗고 아침 햇빛에 눈부신 모습으로 산을 넘어가는 꿩을 쳐다보는 용이의 온몸에 갑자기 어떤 힘이 마구 솟구쳤습니다. 용이는 그 자리에서 한번 훌쩍 뛰어올라 보았습니다. 하늘에라도 날아오를 듯합니다. ㉠</span><span style="text-decoration:underline;text-decoration-color:black;">용이는 발에 채는 책 보퉁이 하나를 집어 들었습니다. 그리고 그것을 하늘 위로 던졌습니다.</span></p><p class="para22" style="text-align:left;">휭! 공중에서 몇 바퀴 돌던 책 보퉁이가 퍽 소리를 내면서 골짜기에 떨어졌을 때, 용이는 두 번째 책 보퉁이를 집어 던졌습니다. / 또 하나, 또 하나…….</p><p class="para22" style="text-align:left;">마지막에 던진 작대기는 건너편 벼랑의 소나무 가지를 철썩 치도록 멀리 떨어졌습니다.</p><p class="para22" style="text-align:left;">“됐다!”</p><p class="para22" style="text-align:left;">용이는 이제 하늘이 탁 트이고 가슴이 시원해져서, 저 건너 산을 보고 “하하하.” 웃었습니다.</p><p class="para22" style="text-align:left;">떠가는 구름을 따라 마구 날아갈 것 같았습니다.</p><p class="para22" style="text-align:left;">‘내가 정말 못난이였구나! 이제 다시는 그런 짓 안 한다!’</p><p class="para22" style="text-align:left;">용이는 제 책 보퉁이만 허리에 둘러맸습니다. 그러고는 고개를 향해 날 듯이 뛰어 올라갔습니다.</p><p class="para22" style="text-align:left;">(나) 고갯마루에는 아이들이 앉아 기다리고 있었습니다. 모두 손에 참꽃 가지를 한 줌씩 들었습니다.</p><p class="para22" style="text-align:left;">어떤 가지는 벌써 불그레한 봉오리가 피어나려고 했습니다.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>