<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-d9876cf0-044e-4be1-8f1a-943e76f17e57" data-id="d9876cf0-044e-4be1-8f1a-943e76f17e57" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;"><span style="">용이는 화가 났습니다. 벌써 고개 위에 다 올라갔는지 ⓑ</span><span style="text-decoration:underline;text-decoration-color:black;">아이들</span><span style="">의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다. 발밑에 돌멩이 하나가 밟혔습니다. 용이는 벌떡 일어나 그 돌멩이를 집어 힘껏 골짜기 아래로 던졌습니다. 돌멩이가 저 밑에 떨어지자, 갑자기 온 산골을 뒤흔드는 소리를 치면서 커다란 뭉텅이 하나가 솟아올랐습니다.</span></p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>