<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-dcfddcbc-5086-43dd-8f49-819bd1221485" data-id="dcfddcbc-5086-43dd-8f49-819bd1221485" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">“내일 아침에는 순이를 데리고 오자. 순이를 놀리는 녀석은 어떤 녀석이고 용서 안 할 끼다.”</p><p class="para22" style="text-align:left;">용이는 돌아서서, 햇빛이 눈부신 내리받이 길을 바라보았습니다. 이제는 단숨에 학교까지 뛰어갈 듯합니다. 하늘에는 하얀 구름 한 송이가 날고 있었습니다. 용이는 훌쩍 한번 뛰더니 마구 두 팔을 내저으면서 내리 달렸습니다. 그것은 마치 한 마리의 꿩이 소리치면서 하늘을 날아오르는 모습과도 같았습니다.</p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-0c53609f-a2d3-4eaa-90fa-cb5a1ea6ce95" data-id="0c53609f-a2d3-4eaa-90fa-cb5a1ea6ce95" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">106</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ㉠ ‘살아 있는 생명의 소리’를 내는 대상이 무엇인지 쓰시오.</p></div>
          </div>
          <div id="entry-02dfaada-80fd-44ec-a2e6-6be409182316" data-id="02dfaada-80fd-44ec-a2e6-6be409182316" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">107</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ㉡ ‘그런 짓’이 의미하는 바로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이가 남의 부당한 요구를 들어주는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>용이가 남의 어려운 처지를 외면하는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용이가 남에게 잘못하고 사과하지 않는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>용이가 남의 물건을 남이 모르게 버리는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이가 남이 없는 자리에서 남을 험담하는 일</p></div></div></div>
          </div>
          <div id="entry-d8b82fa0-67ac-44e8-a384-fbc7dcf0c152" data-id="d8b82fa0-67ac-44e8-a384-fbc7dcf0c152" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">108</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(라)의 ㉢에 담긴 용이의 심정으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>설렘</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>감사함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>고소함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>통쾌함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>후련함</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-8ee9898a-ed3d-423e-870f-48a60b96f73b" data-id="8ee9898a-ed3d-423e-870f-48a60b96f73b" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para22" style="text-align:left;">(가) “꼬공 꼬공, 푸드득!”</p><p class="para22" style="text-align:left;">그것은 온 산골의 가라앉은 공기를 뒤흔들어 놓고 하늘을 날아오르는, 정말 살아 있는 생명의 소리였습니다.</p><p class="para22" style="text-align:left;">‘야, 참 멋지다!’</p><p class="para22" style="text-align:left;"><span>날개를 쫙 펴고 꽁지를 쭉 뻗고 아침 햇빛에 눈부신 모습으로 산을 넘어가는 ㉠</span><span style="text-decoration:underline;text-decoration-color:black;">꿩</span><span style="">을 쳐다보는 용이의 온몸에 갑자기 어떤 힘이 마구 솟구쳤습니다. 용이는 그 자리에서 한번 훌쩍 뛰어올라 보았습니다. 하늘에라도 날아오를 듯합니다. 용이는 발에 채는 책 보퉁이 하나를 집어 들었습니다. 그리고 그것을 하늘 위로 던졌습니다.</span></p><p class="para22" style="text-align:left;">휭! 공중에서 몇 바퀴 돌던 책 보퉁이가 퍽 소리를 내면서 골짜기에 떨어졌을 때, 용이는 두 번째 책 보퉁이를 집어 던졌습니다. / 또 하나, 또 하나…….</p><p class="para22" style="text-align:left;">마지막에 던진 작대기는 건너편 벼랑의 소나무 가지를 철썩 치도록 멀리 떨어졌습니다.</p><p class="para22" style="text-align:left;">“됐다!”</p><p class="para22" style="text-align:left;">용이는 이제 하늘이 탁 트이고 가슴이 시원해져서, 저 건너 산을 보고 “하하하.” 웃었습니다.</p><p class="para22" style="text-align:left;">떠가는 구름을 따라 마구 날아갈 것 같았습니다.</p><p class="para22" style="text-align:left;">‘내가 정말 못난이였구나! 이제 다시는 그런 짓 안 한다!’</p><p class="para22" style="text-align:left;">용이는 제 책 보퉁이만 허리에 둘러맸습니다. 그러고는 고개를 향해 날 듯이 뛰어 올라갔습니다.</p><p class="para22" style="text-align:left;">(나) 고갯마루에는 아이들이 앉아 기다리고 있었습니다. 모두 손에 참꽃 가지를 한 줌씩 들었습니다.</p><p class="para22" style="text-align:left;">어떤 가지는 벌써 불그레한 봉오리가 피어나려고 했습니다.</p><p class="para22" style="text-align:left;">“어, 용이가 빈손으로 오네?” / “정말 저 자식이?” / “인마, 책 보퉁이 모두 어쨌나?”</p><p class="para22" style="text-align:left;">용이는 아무 말이 없이 그냥 올라오고만 있습니다. 아이들이 용이를 빙 둘러쌌습니다.</p><p class="para22" style="text-align:left;">“너, 책 보퉁이 어쨌어?” / “이 자식, 죽고 싶나? 빨리 말해!”</p><p class="para22" style="text-align:left;">용이는 아이들을 한번 둘러보고는 조용히, 그러나 힘찬 소리로 말했습니다. 이상하게도 책 보퉁이를 모두 날리고 나니 마음이 가라앉는 것이 조금도 겁이 나지 않았습니다.</p><p class="para22" style="text-align:left;">“너희들 책보 말이제? 저 밑에 두꺼비 바위 아래 던져 놨어.”</p><p class="para22" style="text-align:left;">“뭐? 이 자식이!” / “이 자식 돌았나?” / “빨리 못 가져오겠나?”</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>