<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-dcfddcbc-5086-43dd-8f49-819bd1221485" data-id="dcfddcbc-5086-43dd-8f49-819bd1221485" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">“내일 아침에는 순이를 데리고 오자. 순이를 놀리는 녀석은 어떤 녀석이고 용서 안 할 끼다.”</p><p class="para22" style="text-align:left;">용이는 돌아서서, 햇빛이 눈부신 내리받이 길을 바라보았습니다. 이제는 단숨에 학교까지 뛰어갈 듯합니다. 하늘에는 하얀 구름 한 송이가 날고 있었습니다. 용이는 훌쩍 한번 뛰더니 마구 두 팔을 내저으면서 내리 달렸습니다. 그것은 마치 한 마리의 꿩이 소리치면서 하늘을 날아오르는 모습과도 같았습니다.</p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-0c53609f-a2d3-4eaa-90fa-cb5a1ea6ce95" data-id="0c53609f-a2d3-4eaa-90fa-cb5a1ea6ce95" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">106</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ㉠ ‘살아 있는 생명의 소리’를 내는 대상이 무엇인지 쓰시오.</p></div>
          </div>
          <div id="entry-02dfaada-80fd-44ec-a2e6-6be409182316" data-id="02dfaada-80fd-44ec-a2e6-6be409182316" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">107</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ㉡ ‘그런 짓’이 의미하는 바로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이가 남의 부당한 요구를 들어주는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>용이가 남의 어려운 처지를 외면하는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용이가 남에게 잘못하고 사과하지 않는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>용이가 남의 물건을 남이 모르게 버리는 일</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이가 남이 없는 자리에서 남을 험담하는 일</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-d8b82fa0-67ac-44e8-a384-fbc7dcf0c152" data-id="d8b82fa0-67ac-44e8-a384-fbc7dcf0c152" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">108</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(라)의 ㉢에 담긴 용이의 심정으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>설렘</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>감사함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>고소함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>통쾌함</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>후련함</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>