<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-6d503241-894b-4812-9684-0973f46b1322" data-id="6d503241-894b-4812-9684-0973f46b1322" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">109</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ㉠ ‘꿩’을 보며 용이가 느낀 점으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>아이들에게 맞설 용기를 얻었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>자연 보호에 앞장서기로 다짐했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>순이와 친하게 지내기로 마음먹었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>학교에 더이상 가지 않기로 결심했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>새처럼 빠르게 고갯길을 오르고 싶었다.</p></div></div></div>
          </div>
          <div id="entry-7af0575f-6ded-4f16-94fe-2eb7a6752a60" data-id="7af0575f-6ded-4f16-94fe-2eb7a6752a60" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">110</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(나)의 ㉡을 이해한 내용으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>순이를 놀린 아이들을 똑같이 놀리겠다는 의미이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>순이와 함께 학교 공부를 열심히 하겠다는 의미이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>순이에게 자신이 강해졌다는 것을 보여주겠다는 의미이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>순이처럼 괴롭힘을 당하는 약한 아이를 돕겠다는 의미이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>순이를 좋아하는 마음을 아이들 앞에서 고백하겠다는 의미이다.</p></div></div></div>
          </div>
          <div id="entry-a200bbb1-3868-42ce-80d3-ffc0f3b8f63c" data-id="a200bbb1-3868-42ce-80d3-ffc0f3b8f63c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">111</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;의 ⓐ에 공통으로 들어갈 말을 (나)에서 찾아 쓰시오.</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0"><span style="text-decoration:underline;text-decoration-color:black;">&nbsp;&nbsp; ⓐ&nbsp;&nbsp; </span>은/는 용이 아버지의 직업과 관련된 표현이자 아이들이 용이를 괴롭힌 이유와 관련된다. 아이들은 용이가 <span style="text-decoration:underline;text-decoration-color:black;">&nbsp;&nbsp; ⓐ&nbsp;&nbsp; </span>이라는 이유로 용이 아버지처럼 남의 짐을 대신 날라 주어야 한다고 생각해 용이에게 책 보퉁이를 떠맡겼다.</p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-139d3bbf-7bbc-4e54-91ce-1973e277df0f" data-id="139d3bbf-7bbc-4e54-91ce-1973e277df0f" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para22" style="text-align:left;">(가) “꼬공 꼬공, 푸드득!”</p><p class="para22" style="text-align:left;">그것은 온 산골의 가라앉은 공기를 뒤흔들어 놓고 하늘을 날아오르는, 정말 살아 있는 생명의 소리였습니다.</p><p class="para22" style="text-align:left;">‘야, 참 멋지다!’</p><p class="para22" style="text-align:left;"><span style="">날개를 쫙 펴고 꽁지를 쭉 뻗고 아침 햇빛에 눈부신 모습으로 산을 넘어가는 꿩을 쳐다보는 용이의 온몸에 갑자기 ㉠</span><span style="text-decoration:underline;text-decoration-color:black;">어떤 힘</span><span style="">이 마구 솟구쳤습니다. 용이는 그 자리에서 한번 훌쩍 뛰어올라 보았습니다. 하늘에라도 날아오를 듯합니다. 용이는 발에 채는 책 보퉁이 하나를 집어 들었습니다. 그리고 그것을 하늘 위로 던졌습니다.</span></p><p class="para22" style="text-align:left;">휭! 공중에서 몇 바퀴 돌던 책 보퉁이가 퍽 소리를 내면서 골짜기에 떨어졌을 때, 용이는 두 번째 책 보퉁이를 집어 던졌습니다. / 또 하나, 또 하나…….</p><p class="para22" style="text-align:left;">마지막에 던진 작대기는 건너편 벼랑의 소나무 가지를 철썩 치도록 멀리 떨어졌습니다.</p><p class="para22" style="text-align:left;">“됐다!”</p><p class="para22" style="text-align:left;">용이는 이제 하늘이 탁 트이고 가슴이 시원해져서, 저 건너 산을 보고 “하하하.” 웃었습니다.</p><p class="para22" style="text-align:left;">떠가는 구름을 따라 마구 날아갈 것 같았습니다.</p><p class="para22" style="text-align:left;">‘내가 정말 못난이였구나! 이제 다시는 그런 짓 안 한다!’</p><p class="para22" style="text-align:left;">용이는 제 책 보퉁이만 허리에 둘러맸습니다. 그러고는 고개를 향해 날 듯이 뛰어 올라갔습니다.</p><p class="para22" style="text-align:left;">(나) 고갯마루에는 아이들이 앉아 기다리고 있었습니다. 모두 손에 참꽃 가지를 한 줌씩 들었습니다.</p><p class="para22" style="text-align:left;">어떤 가지는 벌써 불그레한 봉오리가 피어나려고 했습니다.</p><p class="para22" style="text-align:left;">“어, 용이가 빈손으로 오네?” / “정말 저 자식이?” / “인마, 책 보퉁이 모두 어쨌나?”</p><p class="para22" style="text-align:left;">용이는 아무 말이 없이 그냥 올라오고만 있습니다. 아이들이 용이를 빙 둘러쌌습니다.</p><p class="para22" style="text-align:left;">“너, 책 보퉁이 어쨌어?” / “이 자식, 죽고 싶나? 빨리 말해!”</p><p class="para22" style="text-align:left;">용이는 아이들을 한번 둘러보고는 조용히, 그러나 힘찬 소리로 말했습니다. 이상하게도 책 보퉁이를 모두 날리고 나니 마음이 가라앉는 것이 조금도 겁이 나지 않았습니다.</p><p class="para22" style="text-align:left;">“너희들 책보 말이제? 저 밑에 두꺼비 바위 아래 던져 놨어.”</p><p class="para22" style="text-align:left;">“뭐? 이 자식이!” / “이 자식 돌았나?” / “빨리 못 가져오겠나?”</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>