<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-28218bc9-e689-4d3b-8802-6caaea2dd499" data-id="28218bc9-e689-4d3b-8802-6caaea2dd499" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">113</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ㉠ ‘어떤 힘’이 의미하는 바가 무엇인지 두 글자로 쓰시오.</p></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>