<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-d93aea21-701b-4317-83ec-08e47d3de2ce" data-id="d93aea21-701b-4317-83ec-08e47d3de2ce" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">“자, 덤빌람 덤벼! 누구든지 오는 녀석은 가만두지 않을 끼다!”</p><p class="para22" style="text-align:left;">아이들이 입을 벌리고 어쩔 줄 모르고 서 있을 때, 뒤에서 한 아이가,</p><p class="para22" style="text-align:left;">“난, 내 책보 가질러 갈란다.”</p><p class="para22" style="text-align:left;">하고 달려갔습니다. 그 소리에 다른 아이들도 모두 정신이 돌아온 것처럼,</p><p class="para22" style="text-align:left;">“나도 간다.” / “나도 간다.” / 하고 달려갔습니다.</p><p class="para22" style="text-align:left;">“이 자식, 두고 봐라.” / 맨 마지막에 내려가면서 성윤이가 말했습니다.</p><p class="para22" style="text-align:left;">“오냐, 인마, 얼마든지 봐 준다.” / 용이 목소리는 한층 크고 자랑스러웠습니다.</p><p class="para22" style="text-align:left;">(라) 아이들이 모두 ‘와아!’ 하고, 아까 올라온 길을 내려가는 뒷모양을 보면서 용이는 또 한 번 가슴을 확 펴고 ‘하하하.’ 웃었습니다.</p><p class="para22" style="text-align:left;">‘나 인제 못난 아이 아니야!’ / 그러고는 다시 혼잣말로 중얼거렸습니다.</p><p class="para22" style="text-align:left;">“내일 아침에는 순이를 데리고 오자. 순이를 놀리는 녀석은 어떤 녀석이고 용서 안 할 끼다.”</p><p class="para22" style="text-align:left;"><span style="">용이는 돌아서서, 햇빛이 눈부신 ㉤</span><span style="text-decoration:underline;text-decoration-color:black;">내리받이</span><span style=""> 길을 바라보았습니다. 이제는 단숨에 학교까지 뛰어갈 듯합니다. 하늘에는 하얀 구름 한 송이가 날고 있었습니다. 용이는 훌쩍 한번 뛰더니 마구 두 팔을 내저으면서 내리 달렸습니다. 그것은 마치 한 마리의 꿩이 소리치면서 하늘을 날아오르는 모습과도 같았습니다.</span></p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
            
        </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>