<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-6272cfbd-36c3-4073-9f5c-273cb21c8400" data-id="6272cfbd-36c3-4073-9f5c-273cb21c8400" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">12</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;에 드러난 비유에 대한 설명으로 적절한 것은?</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">초콜릿처럼 달콤한 댓글을 전하세요.</p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>‘A는 B이다.’의 형식으로 빗대어 표현하는 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>사람이 아닌 대상을 사람인 것처럼 비유한 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>연결어로 표현하려는 대상을 다른 대상에 비유한 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>연결어 없이 한 대상을 다른 대상에 암시적으로 비유한 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>‘내 마음은 맑은 호수이다.’와 &lt;보기&gt;에 드러난 비유의 종류는 같다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-e4c066db-e4b7-4238-bf0f-b5ff508465a0" data-id="e4c066db-e4b7-4238-bf0f-b5ff508465a0" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">13</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;에서 ㉠을 빗대어 표현한 대상을 찾아 여섯 글자로 쓰시오.</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">톡톡 / 튕기다</p><p class="para0">파르르 / 떨다가</p><p class="para0">쪼르르 / 달리다</p><p class="para0">주루룩 / 미끄럼</p><p class="para0">비 오는 날 / ㉠<span style="text-decoration:underline;text-decoration-color:black;">차 창문</span>은</p><p class="para0">물방울 / 놀이터</p><p class="para0" style="text-align:right;">서정숙, &lt;빗방울&gt;</p><p></p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>
          <div id="entry-d20a8851-4952-4fa6-a896-e0fb8cb2aea3" data-id="d20a8851-4952-4fa6-a896-e0fb8cb2aea3" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">눈이 내린다</p><p class="para0" style="text-align:left;">봄이라서</p><p class="para0" style="text-align:left;">㉠<span style="text-decoration:underline;text-decoration-color:black;">봄빛처럼 포근한 눈</span></p><p class="para0" style="text-align:left;">담장 위에 쌓이는 봄눈</p><p class="para0" style="text-align:left;">나무 위에 쌓이는 봄눈</p><p class="para0" style="text-align:left;">마당 위에 쌓이는 봄눈</p><p class="para0" style="text-align:left;">그리고</p><p class="para0" style="text-align:left;">마루에서 졸다가 깬</p><p class="para0" style="text-align:left;">눈을 하고 앉은</p><p class="para0" style="text-align:left;">새끼 고양이의 눈 속에도</p><p class="para0" style="text-align:left;">내리는 봄눈</p><p class="para0" style="text-align:left;">감았다 떴다 하는</p><p class="para0" style="text-align:left;"><span style="font-weight:bold;">[A]《</span>새끼 고양이의 눈처럼</p><p class="para0" style="text-align:left;">보드라운</p><p class="para0" style="text-align:left;">봄<span style="font-weight:bold;">》</span></p><p class="para0" style="text-align:left;">봄 하늘</p><p class="para0" style="text-align:left;">봄 하늘의 봄눈</p><p class="para0" style="text-align:left;">오규원, &lt;포근한 봄&gt;</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>