<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-3a94bcec-ad9a-4ec3-80f6-b426f9065072" data-id="3a94bcec-ad9a-4ec3-80f6-b426f9065072" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">127</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤ 행동에 담긴 용이의 마음으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠: 날아오르는 꿩처럼 자유로움을 느끼고 싶었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡: 아이들의 부당한 요구를 거절하기로 했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢: 앞으로 이기적인 사람이 되기로 다짐했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣: 아이들과 당당히 맞서겠다고 생각했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤: 용기 있게 행동한 후 후련함을 느꼈다.</p></div></div></div>
          </div>
          <div id="entry-3842e86e-d56f-4117-91c3-b3f32d960c93" data-id="3842e86e-d56f-4117-91c3-b3f32d960c93" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">128</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">ⓐ~ⓔ 공간에 대한 설명으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>ⓐ 산골: 용이에게 변화를 일으키는 대상을 만나는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>ⓑ 골짜기: 아이들의 책 보퉁이를 던져 버리는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>ⓒ 고갯마루: 용이와 아이들의 갈등이 최고조에 이르는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>ⓓ 바윗돌 위: 용이가 아이들과 당당하게 맞서는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>ⓔ 내리받이 길: 용이가 곧 도착할 순이를 기다리는 공간이다.</p></div></div></div>
          </div>
          <div id="entry-e9b21627-88a8-4280-968f-fb2473f7d4bb" data-id="e9b21627-88a8-4280-968f-fb2473f7d4bb" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">129</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ‘꿩’과 (라)의 ‘꿩’을 비교한 내용으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가)의 ‘꿩’은 용이에게 죄책감을 들게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가)의 ‘꿩’은 용이에게 용기와 자신감을 준다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(라)의 ‘꿩’은 용이를 못난 아이라고 생각하게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(라)의 ‘꿩’은 용이를 보고 도망간 아이들을 비유한 것이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(가)의 ‘꿩’과 (라)의 ‘꿩’은 모두 ‘꿩과의 새’라는 의미만 드러낸다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-77af69ff-d1f4-47ad-88a0-f59fafffe843" data-id="77af69ff-d1f4-47ad-88a0-f59fafffe843" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para22" style="text-align:left;">(가) “꼬공 꼬공, 푸드득!”</p><p class="para22" style="text-align:left;"><span style="">그것은 온 산골의 가라앉은 공기를 뒤흔들어 놓고 하늘을 날아오르는, 정말 ⓐ</span><span style="text-decoration:underline;text-decoration-color:black;">살아 있는 생명의 소리</span><span style="">였습니다.</span></p><p class="para22" style="text-align:left;">‘야, 참 멋지다!’</p><p class="para22" style="text-align:left;"><span style="">날개를 쫙 펴고 꽁지를 쭉 뻗고 아침 햇빛에 눈부신 모습으로 산을 넘어가는 꿩을 쳐다보는 용이의 온몸에 갑자기 어떤 힘이 마구 ㉠</span><span style="text-decoration:underline;text-decoration-color:black;">솟구쳤습니다</span><span style="">. 용이는 그 자리에서 한번 훌쩍 뛰어올라 보았습니다. 하늘에라도 날아오를 듯합니다. 용이는 발에 채는 책 보퉁이 하나를 ㉡</span><span style="text-decoration:underline;text-decoration-color:black;">집어</span><span style=""> 들었습니다. 그리고 그것을 하늘 위로 던졌습니다.</span></p><p class="para22" style="text-align:left;">휭! 공중에서 몇 바퀴 돌던 책 보퉁이가 퍽 소리를 내면서 골짜기에 떨어졌을 때, 용이는 두 번째 책 보퉁이를 집어 던졌습니다. / 또 하나, 또 하나…….</p><p class="para22" style="text-align:left;">마지막에 던진 작대기는 건너편 벼랑의 소나무 가지를 철썩 치도록 멀리 떨어졌습니다.</p><p class="para22" style="text-align:left;">“됐다!”</p><p class="para22" style="text-align:left;">용이는 이제 하늘이 탁 트이고 가슴이 시원해져서, 저 건너 산을 보고 “하하하.” 웃었습니다.</p><p class="para22" style="text-align:left;">떠가는 구름을 따라 마구 날아갈 것 같았습니다.</p><p class="para22" style="text-align:left;">‘내가 정말 못난이였구나! 이제 다시는 그런 짓 안 한다!’</p><p class="para22" style="text-align:left;">용이는 제 책 보퉁이만 허리에 둘러맸습니다. 그러고는 고개를 향해 날 듯이 뛰어 올라갔습니다.</p><p class="para22" style="text-align:left;">(나) 고갯마루에는 아이들이 앉아 기다리고 있었습니다. 모두 손에 참꽃 가지를 한 줌씩 들었습니다.</p><p class="para22" style="text-align:left;">어떤 가지는 벌써 불그레한 봉오리가 피어나려고 했습니다.</p><p class="para22" style="text-align:left;">“어, 용이가 빈손으로 오네?” / “정말 저 자식이?” / “인마, 책 보퉁이 모두 어쨌나?”</p><p class="para22" style="text-align:left;"><span style="">용이는 아무 말이 없이 그냥 올라오고만 있습니다. 아이들이 용이를 빙 ㉢</span><span style="text-decoration:underline;text-decoration-color:black;">둘러쌌습니다</span><span style="">.</span></p><p class="para22" style="text-align:left;">“너, 책 보퉁이 어쨌어?” / “이 자식, 죽고 싶나? 빨리 말해!”</p><p class="para22" style="text-align:left;">용이는 아이들을 한번 둘러보고는 조용히, 그러나 힘찬 소리로 말했습니다. 이상하게도 책 보퉁이를 모두 날리고 나니 마음이 가라앉는 것이 조금도 겁이 나지 않았습니다.</p><p class="para22" style="text-align:left;">“너희들 책보 말이제? 저 밑에 두꺼비 바위 아래 던져 놨어.”</p><p class="para22" style="text-align:left;">“뭐? 이 자식이!” / “이 자식 돌았나?” / “빨리 못 가져오겠나?”</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>