<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-3a94bcec-ad9a-4ec3-80f6-b426f9065072" data-id="3a94bcec-ad9a-4ec3-80f6-b426f9065072" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">127</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤ 행동에 담긴 용이의 마음으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠: 날아오르는 꿩처럼 자유로움을 느끼고 싶었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡: 아이들의 부당한 요구를 거절하기로 했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢: 앞으로 이기적인 사람이 되기로 다짐했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣: 아이들과 당당히 맞서겠다고 생각했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤: 용기 있게 행동한 후 후련함을 느꼈다.</p></div></div></div>
          </div>
          <div id="entry-3842e86e-d56f-4117-91c3-b3f32d960c93" data-id="3842e86e-d56f-4117-91c3-b3f32d960c93" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">128</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">ⓐ~ⓔ 공간에 대한 설명으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>ⓐ 산골: 용이에게 변화를 일으키는 대상을 만나는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>ⓑ 골짜기: 아이들의 책 보퉁이를 던져 버리는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>ⓒ 고갯마루: 용이와 아이들의 갈등이 최고조에 이르는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>ⓓ 바윗돌 위: 용이가 아이들과 당당하게 맞서는 공간이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>ⓔ 내리받이 길: 용이가 곧 도착할 순이를 기다리는 공간이다.</p></div></div></div>
          </div>
          <div id="entry-e9b21627-88a8-4280-968f-fb2473f7d4bb" data-id="e9b21627-88a8-4280-968f-fb2473f7d4bb" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">129</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ‘꿩’과 (라)의 ‘꿩’을 비교한 내용으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가)의 ‘꿩’은 용이에게 죄책감을 들게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가)의 ‘꿩’은 용이에게 용기와 자신감을 준다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(라)의 ‘꿩’은 용이를 못난 아이라고 생각하게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(라)의 ‘꿩’은 용이를 보고 도망간 아이들을 비유한 것이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(가)의 ‘꿩’과 (라)의 ‘꿩’은 모두 ‘꿩과의 새’라는 의미만 드러낸다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>