<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-77af69ff-d1f4-47ad-88a0-f59fafffe843" data-id="77af69ff-d1f4-47ad-88a0-f59fafffe843" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">그러나 용이는 여전히 조용한 소리로 말했습니다.</p><p class="para22" style="text-align:left;">“나, 이젠 못난 아이 아니야!”</p><p class="para22" style="text-align:left;">“어, 이 자식이?” / “요런, 머슴의 자식이.” / “나쁜 자식! 맛 좀 볼래?”</p><p class="para22" style="text-align:left;">(다) 아이들의 발과 주먹이 용이를 덮쳐 왔을 때, 용이는 번개같이 거기를 빠져나와 몇 걸음 발을 옮기더니, 발밑에 있는 돌을 두 손으로 한 개씩 거머쥐고는 거기 있는 커다란 바윗돌 위에 껑충 뛰어올랐습니다.</p><p class="para22" style="text-align:left;">그 몸놀림이 어찌나 재빠른지, 아이들이 모두 놀랐습니다. 지금까지의 용이와는 아주 다른, 딴 아이였습니다.</p><p class="para22" style="text-align:left;">“자, 덤빌람 덤벼! 누구든지 오는 녀석은 가만두지 않을 끼다!”</p><p class="para22" style="text-align:left;">아이들이 입을 벌리고 어쩔 줄 모르고 서 있을 때, 뒤에서 한 아이가,</p><p class="para22" style="text-align:left;">“난, 내 책보 가질러 갈란다.”</p><p class="para22" style="text-align:left;"><span>하고 달려갔습니다. 그 소리에 다른 아이들도 모두 정신이 ㉣</span><span style="text-decoration:underline;text-decoration-color:black;">돌아온</span><span> 것처럼,</span></p><p class="para22" style="text-align:left;">“나도 간다.” / “나도 간다.” / 하고 달려갔습니다.</p><p class="para22" style="text-align:left;">“이 자식, 두고 봐라.” / 맨 마지막에 내려가면서 성윤이가 말했습니다.</p><p class="para22" style="text-align:left;">“오냐, 인마, 얼마든지 봐 준다.” / 용이 목소리는 한층 크고 자랑스러웠습니다.</p><p class="para22" style="text-align:left;"><span>(라) 아이들이 모두 ‘와아!’ 하고, 아까 올라온 길을 내려가는 뒷모양을 보면서 용이는 또 한 번 가슴을 확 ㉤</span><span style="text-decoration:underline;text-decoration-color:black;">펴고</span><span> ‘하하하.’ 웃었습니다.</span></p><p class="para22" style="text-align:left;">‘나 인제 못난 아이 아니야!’ / 그러고는 다시 혼잣말로 중얼거렸습니다.</p><p class="para22" style="text-align:left;">“내일 아침에는 순이를 데리고 오자. 순이를 놀리는 녀석은 어떤 녀석이고 용서 안 할 끼다.”</p><p class="para22" style="text-align:left;">용이는 돌아서서, 햇빛이 눈부신 내리받이 길을 바라보았습니다. 이제는 단숨에 학교까지 뛰어갈 듯합니다. 하늘에는 하얀 구름 한 송이가 날고 있었습니다. 용이는 훌쩍 한번 뛰더니 마구 두 팔을 내저으면서 내리 달렸습니다. 그것은 마치 한 마리의 꿩이 소리치면서 하늘을 날아오르는 모습과도 같았습니다.</p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-171f4f96-48fb-45f5-add5-c309ab6fdd60" data-id="171f4f96-48fb-45f5-add5-c309ab6fdd60" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">130</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ⓐ ‘살아 있는 생명의 소리’에 대한 설명으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이에게 어떤 깨달음을 주는 대상이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>산골을 날아오르는 꿩이 내는 소리이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용이와 아이들 사이 갈등의 원인이 된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>이 소리를 내는 대상에게서 자유가 느껴진다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이가 고갯길에서 우연히 발견하게 된 것이다.</p></div></div></div>
          </div>
          <div id="entry-797c4d6f-41b8-453c-b0cf-404088d79106" data-id="797c4d6f-41b8-453c-b0cf-404088d79106" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">131</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤의 의미를 활용한 문장으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 솟구쳤습니다: 갑자기 분노가 <span style="text-decoration:underline;text-decoration-color:black;">솟구쳤다</span>.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 집어: 책상에 있는 연필을 <span style="text-decoration:underline;text-decoration-color:black;">집었다</span>.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 둘러쌌습니다: 경찰이 시위대를 <span style="text-decoration:underline;text-decoration-color:black;">둘러쌌다</span>.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 돌아온: 그는 그제야 기운이 <span style="text-decoration:underline;text-decoration-color:black;">돌아왔다</span>.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 펴고: 봄이 되자 꽃이 활짝 <span style="text-decoration:underline;text-decoration-color:black;">폈다</span>.</p></div></div></div>
          </div>
          <div id="entry-b8a8260a-4eb4-4c32-9335-a14834e24ba4" data-id="b8a8260a-4eb4-4c32-9335-a14834e24ba4" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">132</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;를 참고해 이 글을 이해한 내용으로 적절한 것은?</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">사건이 진행됨에 따라 주인공의 정신적 성장과 자신을 둘러싼 세계에 대한 깨우침이 드러난 소설을 성장 소설이라 한다.</p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>주인공이 부당한 일을 외면하는 자세를 배운다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>주인공의 정신적 성장이 드러난다고 볼 수 없다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>주인공이 화를 참지 못하는 성격을 고치게 된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>주인공이 자연을 보호해야 하는 이유를 알게 된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>주인공이 차별에 맞서서 얻은 자유의 가치를 깨닫는다.</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>