<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-71c897cb-9d45-418e-8b0a-efd76540c288" data-id="71c897cb-9d45-418e-8b0a-efd76540c288" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">133</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 주인공을 이해한 내용으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>아이들의 책 보퉁이를 대신 메는 것을 싫어했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>머슴의 자식이라는 이유로 부당한 대우를 받았다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>산골을 날아오르는 꿩에게서 깊은 감명을 받았다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>아이들의 짐을 골짜기에 버린 것에 대해 사과했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>다시는 아이들의 부당한 요구를 들어주지 않겠다고 다짐했다.</p></div></div></div>
          </div>
          <div id="entry-033cce7f-237c-44f5-b72c-fec26a92e151" data-id="033cce7f-237c-44f5-b72c-fec26a92e151" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">134</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 [A]와 &lt;보기&gt;의 [B]의 공통점으로 적절한 것은?</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">내를 건너서 숲으로</p><p class="para0">고개를 넘어서 마을로</p><p class="para0"><span style="font-weight:bold;">[B]《</span>어제도 가고 오늘도 갈 </p><p class="para0">나의 길 새로운 길<span style="font-weight:bold;">》</span></p><p class="para0" style="text-align:right;">- 윤동주, &lt;새로운 길&gt; 중 일부 </p><p></p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>사람이 아닌 것을 사람처럼 표현하였다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>그림 그리듯이 대상의 모습을 설명하였다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>말하고자 하는 바를 생생하게 표현하지 못한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>추상적인 개념을 구체적인 대상으로 나타내었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>‘A는 B이다.’의 형식으로 표현하려는 대상을 빗대었다.</p></div></div></div>
          </div>
          <div id="entry-17e346ae-47e7-4b37-b05f-4b244baf6650" data-id="17e346ae-47e7-4b37-b05f-4b244baf6650" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">135</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 주제를 이해하고 실천한 사람은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>친구의 가정환경을 보고 친구를 평가하는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>친구에게 욕설을 하지 않고 예쁜 말만 하는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>이유 없이 괴롭힘을 당하는 친구를 도와주는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>잘못한 행동을 한 친구를 무조건 용서해주는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>친구의 짐을 대신 들어주기 위해 힘을 기르는 사람</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-17e346ae-47e7-4b37-b05f-4b244baf6650" data-id="17e346ae-47e7-4b37-b05f-4b244baf6650" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">135</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 주제를 이해하고 실천한 사람은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>친구의 가정환경을 보고 친구를 평가하는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>친구에게 욕설을 하지 않고 예쁜 말만 하는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>이유 없이 괴롭힘을 당하는 친구를 도와주는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>잘못한 행동을 한 친구를 무조건 용서해주는 사람</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>친구의 짐을 대신 들어주기 위해 힘을 기르는 사람</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>