<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-8a269d5f-2d1b-43a5-8a7f-a94a12b26ada" data-id="8a269d5f-2d1b-43a5-8a7f-a94a12b26ada" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">138</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(라)의 ㉡에 대한 설명으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>인물을 상징적인 소재로 빗대어 주제를 강조한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>표현하려는 대상과 빗댄 대상의 공통점이 드러난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>표현하려는 대상의 당당하고 힘찬 모습이 느껴진다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>다음에 일어날 사건을 넌지시 알리며 이야기가 마무리된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>한 대상을 다른 대상에 빗대어 나타내는 표현법이 나타난다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>