<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-0cae34dd-c1ca-4acd-9dfb-1c0ea42cd8f7" data-id="0cae34dd-c1ca-4acd-9dfb-1c0ea42cd8f7" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">139</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글에 대한 설명으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>시골의 정취가 담긴 공간을 배경으로 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>갈등을 겪는 주인공이 정신적으로 성숙해진다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>비유적인 표현을 활용해 인물을 생생하게 표현한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>상징적인 소재로 비극적인 결말을 넌지시 알려준다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>주인공의 태도 변화에 영향을 주는 소재가 등장한다.</p></div></div></div>
          </div>
          <div id="entry-a004fad0-8ecc-4ef0-8eee-2c2da5364b05" data-id="a004fad0-8ecc-4ef0-8eee-2c2da5364b05" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">140</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 흐름을 고려할 때, ㄱ에 들어갈 용이의 속마음으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>‘야, 참 멋지다.’</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>‘꿩이 정말 구슬프게 우네.’</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>‘가슴이 뻥 뚫리는 것 같아.’</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>‘나도 꿩처럼 자유로워지고 싶어.’</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>‘앞으로 아이들에게 당당히 맞설 거야.’</p></div></div></div>
          </div>
          <div id="entry-b297f800-c9bf-458f-a1d3-c759e08d9505" data-id="b297f800-c9bf-458f-a1d3-c759e08d9505" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">141</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(나)~(다)에 나타난 갈등에 대한 설명으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이는 혼자서 다수의 아이들과 맞선다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>아이들은 험한 말로 용이를 억누르려고 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용이에게 맞은 아이들은 겁에 질려 도망간다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>용이와 아이들 간의 갈등이 최고조에 이른다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>용이가 당당한 태도를 보이자 아이들은 놀란다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>