<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-c21f4230-e762-4fc9-8c17-c1d154c55161" data-id="c21f4230-e762-4fc9-8c17-c1d154c55161" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">144</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ‘꿩’과 (라)의 ‘꿩’에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가)의 ‘꿩’은 용이에게 아무런 변화를 일으키지 못한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가)의 ‘꿩’을 만나기 위해 용이는 일부러 고갯길을 올랐다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(라)의 ‘꿩’은 학교로 돌아올 순이를 떠올리게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(라)의 ‘꿩’은 당당하고 자유로운 용이를 빗댄 대상이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(라)의 ‘꿩’에는 (가)의 ‘꿩’과 달리 문학적 표현이 드러난다.</p></div></div></div>
          </div>
          <div id="entry-57c49861-c922-430e-8641-e4d9094897d0" data-id="57c49861-c922-430e-8641-e4d9094897d0" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0">어리석은 세상은 너를 몰라</p><p class="para0">누에 속에 감춰진 너를 못 봐</p><p class="para0">나는 알아 내겐 보여</p><p class="para0">그토록 찬란한 너의 날개</p><p class="para0">겁내지 마 할 수 있어</p><p class="para0">뜨겁게 꿈틀거리는</p><p class="para0">날개를 펴 날아올라 세상 위로</p><p class="para0">꺾여 버린 꽃처럼 아플 때도</p><p class="para0">쓰러진 나무처럼 초라해도</p><p class="para0">너를 믿어 나를 믿어</p><p class="para0">우리는 서로를 믿고 있어</p><p class="para0">심장에 손을 움켜 봐</p><p class="para0">힘겹게 접어 놓았던</p><p class="para0">날개를 펴 날아올라 세상 위로</p><p class="para0">태양처럼 빛을 내는 그대여</p><p class="para0">이 세상이 거칠게 막아서도</p><p class="para0">빛나는 사람아 난 너를 사랑해</p><p class="para0">널 세상이 볼 수 있게 날아 저 멀리</p><p class="para0" style="text-align:right;">- 강현민·이재학 작사, 이재학 작곡, &lt;버터플라이&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-7ec6e4c8-e7a2-409f-b768-2ff8eea76dd0" data-id="7ec6e4c8-e7a2-409f-b768-2ff8eea76dd0" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">145</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 노랫말의 ‘나’와 ‘너’에 대한 이해로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>‘나’는 ‘너’에게 용기를 북돋았다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>‘나’는 ‘너’의 가능성을 알아보았다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>‘나’는 ‘너’가 꿈을 이루기를 바랐다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>‘너’는 ‘나’의 격려를 부담스러워했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>‘너’는 힘든 현실 앞에서 움츠러들었다.</p></div></div></div>
          </div>
          <div id="entry-432246d1-8882-4f24-b12a-0a78351f9be6" data-id="432246d1-8882-4f24-b12a-0a78351f9be6" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">146</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 노랫말의 ‘세상’에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>‘너’에 대한 강한 믿음을 갖고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>‘너’의 가능성을 알아보지 못하고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>‘너’가 자신을 믿어주기를 바라고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>‘너’에 대한 ‘나’의 입장과 비슷한 입장이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>‘너’가 목표한 바를 이루도록 응원하고 있다.</p></div></div></div>
          </div>
          <div id="entry-a99b20bc-fb0d-4970-bb02-60a28e2de817" data-id="a99b20bc-fb0d-4970-bb02-60a28e2de817" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">147</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;를 표현하기 위해 빗댄 대상을 이 글에서 찾아 쓰시오.</p><div class="para0"><table style="border-collapse:collapse;width:260px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">눈부시도록 밝게 빛나는 존재</p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>
          <div id="entry-3024b990-fc4e-497c-92a3-d77593ebaf8a" data-id="3024b990-fc4e-497c-92a3-d77593ebaf8a" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">학창 시절에는 유별나게도 학년이 바뀌고 반이 바뀌어 친구들과 뿔뿔이 흩어져야 하는 신학기가 싫었다. 마음으로 간절히 원했던 친구는 거의 언제나 다른 반으로 가 버렸고, 한 반이 되지 않기를 빌고 빌었던 친구는 어김없이 한 반으로 편성되곤 하는 불행 아닌 불행 앞에서 얼마나 많이 속상해했는지 모른다.</p><p class="para0" style="text-align:left;">그래서 학년이 바뀌고 처음 얼마 동안은 늘 마음을 잡지 못했다. 아침에 눈을 떠 학교에 갈 일을 생각하면 가슴 한 켠이 써늘해지곤 하던 그 느낌을 지금도 나는 선연(鮮然)히 떠올릴 수가 있다.</p><p class="para0" style="text-align:left;">특히 운동장 조회나 체육 시간 같은 때 친한 친구도 없이 외따로 떨어져 그 지겨운 시간을 견딜 생각을 하면 어디론가 도망가고 싶을 지경이었다. 게다가 점심시간은 또 얼마나 무렴(無廉)한지, 친하지도 않은 짝과 김칫국물 흐른 도시락을 꺼내 놓고 밥알 씹는 소리까지 서로 환히 들어가며 밥 먹을 생각을 하면 입맛도 달아나 버렸다.</p><p class="para0" style="text-align:left;">그런데 다른 아이들은 그렇지 않은 것 같았다. 가만히 살펴보면 어느새 하나둘씩 친한 친구를 만들어 저희끼리 밥도 먹고 조회 시간에도 나란히 서서 다정하게 속살거리는데, 그 속에서 혼자만 외톨이로 빙빙 돌고 있는 아이는 나 하나뿐인 것처럼 생각되곤 했다.</p><p class="para0" style="text-align:left;">그 지독한 소외감은 물론 시간이 흐르면서 조금씩 나아지기는 했다. 여름 방학을 할 때쯤이면 운동장 조회나 점심시간을 외롭게 하지 않을 단짝 한 명 정도는 발견하기 마련이니까 결국은 시간이 해결해 주기 마련이다.</p><p class="para0" style="text-align:left;">그러나 역시 시간이 흐르면 신학기 또한 어김없이 다시 찾아오는 것이었다. 그러면 다시 이별과 탐색, 그리고 그 지독한 소외감에 시달리는 쓸쓸한 나날이 잊지도 않고 이어지는 것이었다.</p><p class="para0" style="text-align:left;">이제는 반이 나뉘고 새로운 급우들한테서 실컷 낯섦을 맛봐야 하는 신학기 따위는 영영 내 곁에서 사라졌다. 그 대신 시기하고 미워하며, 또는 빼앗고 속이는 황폐한 세상살이에 낯가림하며 사는 나날 속으로 내던져지고 말았다.</p><p class="para0" style="text-align:left;">망망대해(茫茫大海)를 헤매는 듯한 인생의 항해는 신학기 잠시의 외로움을 극복하는 일 따위와는 비교도 할 수 없을 만큼 두려움 가득하고 힘들다. 삶은 고난투성이고 끝없는 인내를 요구하기만 하는데, 그러나 홀로 헤치는 파도는 높고 거칠기만 한 것이다.</p><p class="para0" style="text-align:left;">바로 이때에 영혼을 함께 나눌 친구가 절실히 필요해진다. 인생이란 험난한 항해를 같이 겪고 있다는 동지애의 확인, 혹은 내 삶의 따뜻한 동반자라는 느낌이 전해져 오는 친구와 같이 있는 시간에는 이 세상도 한번 살아 볼 만하다는 용기가 솟는다.</p><p class="para0" style="text-align:left;">목소리만 듣고도 친구가 처해 있는 상황을 눈치채는 우정, 눈짓만 보아도 친구가 무엇을 원하는지 알아채는 우정, 그런 돈독한 우정을 상호 간에 교환하고 있는 이들이라면, 그렇다면 적어도 실패한 삶은 아니라고 단정할 수 있는 것이다.</p><p class="para0" style="text-align:left;">살아가면서 그런 우정을 가꾸는 이들을 종종 만난다. 비록 나의 친구는 아니지만 그 모습을 보는 일은 참 아름답다. 언젠가 친구가 사업에 실패해서 낙향(落鄕)하여 쓸쓸히 살아가는 것을 안쓰러워하다 못해 자기도 다니던 직장을 정리하고 가족과 함께 시골로 내려가 친구 옆에서 땅을 일구는 사람을 만난 적이 있었다.</p><p class="para0" style="text-align:left;">이미 결혼하여 각각의 식솔을 이끌고 있는 두 사람한테는 참으로 어려운 결정이었겠지만, 양쪽 집의 가족들 모두는, 한결같이 이렇게 말하는 것이었다. 냉혹한 이 세상에 대항하기 위해 두 집이 힘을 합쳤으니 얼마나 든든하냐고.</p><p class="para0" style="text-align:left;">누군가는 말했다. 친구 없이 사는 일만큼 무서운 사막은 없다고. 또 누군가는 말했다. 친구 없이 사는 것은 증인 없이 죽는 일이라고.</p><p class="para0" style="text-align:left;">그 말들을 새기고 있으면 불현듯 마음이 찡해 온다. 나는 지금 무서운 사막을 홀로 걷고 있는 것은 아닌지, 지금 내 삶의 의미를 설명해 줄 단 한 사람의 증인도 없이 마음을 닫고 살아가는 것은 아닌지.</p><p class="para0" style="text-align:left;">하지만 우정은 상호 간의 교류이다. 일방적인 행위가 결코 아닌 것이다. 말하자면 내가 먼저 쌓아야 할 탑이고 내가 밭을 경작해서 맺어야 할 열매인 것이다. 그럼에도 불구하고 탑을 제대로 쌓는 사람, 혹은 빛깔 곱고 아름다운 열매를 맺는 사람은 참 드물다. 친구는 많지만 진정으로 벗이라 부를 만한 이는 몇이나 되는지, 그것만이라도 한 번쯤 되새겨 보며 살아야 하는 것 아닐까.</p><p class="para0" style="text-align:right;">- 양귀자, &lt;사막을 같이 가는 벗&gt;</p>
              </div>
         </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>