<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-c21f4230-e762-4fc9-8c17-c1d154c55161" data-id="c21f4230-e762-4fc9-8c17-c1d154c55161" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">144</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)의 ‘꿩’과 (라)의 ‘꿩’에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가)의 ‘꿩’은 용이에게 아무런 변화를 일으키지 못한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가)의 ‘꿩’을 만나기 위해 용이는 일부러 고갯길을 올랐다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(라)의 ‘꿩’은 학교로 돌아올 순이를 떠올리게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(라)의 ‘꿩’은 당당하고 자유로운 용이를 빗댄 대상이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(라)의 ‘꿩’에는 (가)의 ‘꿩’과 달리 문학적 표현이 드러난다.</p></div></div></div>
          </div>
          <div id="entry-57c49861-c922-430e-8641-e4d9094897d0" data-id="57c49861-c922-430e-8641-e4d9094897d0" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0">어리석은 세상은 너를 몰라</p><p class="para0">누에 속에 감춰진 너를 못 봐</p><p class="para0">나는 알아 내겐 보여</p><p class="para0">그토록 찬란한 너의 날개</p><p class="para0">겁내지 마 할 수 있어</p><p class="para0">뜨겁게 꿈틀거리는</p><p class="para0">날개를 펴 날아올라 세상 위로</p><p class="para0">꺾여 버린 꽃처럼 아플 때도</p><p class="para0">쓰러진 나무처럼 초라해도</p><p class="para0">너를 믿어 나를 믿어</p><p class="para0">우리는 서로를 믿고 있어</p><p class="para0">심장에 손을 움켜 봐</p><p class="para0">힘겹게 접어 놓았던</p><p class="para0">날개를 펴 날아올라 세상 위로</p><p class="para0">태양처럼 빛을 내는 그대여</p><p class="para0">이 세상이 거칠게 막아서도</p><p class="para0">빛나는 사람아 난 너를 사랑해</p><p class="para0">널 세상이 볼 수 있게 날아 저 멀리</p><p class="para0" style="text-align:right;">- 강현민·이재학 작사, 이재학 작곡, &lt;버터플라이&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>