<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-d350e2bf-5560-450e-9052-20ff3f51dbdd" data-id="d350e2bf-5560-450e-9052-20ff3f51dbdd" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">148</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 제목의 의미로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>어려움을 함께 나눌 수 있는 진정한 친구</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>잘못을 지적하고 충고를 아끼지 않는 친구</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용돈이 많아 맛있는 것을 많이 사 주는 친구</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>여행을 함께 다니며 추억을 쌓을 수 있는 친구</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>공부를 잘해서 모르는 내용을 잘 설명해주는 친구</p></div></div></div>
          </div>
          <div id="entry-fd01056f-e9d5-461d-abea-48293791bae2" data-id="fd01056f-e9d5-461d-abea-48293791bae2" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">149</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 주제로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>친구가 없어도 즐겁게 인생을 살아갈 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>자신이 먼저 상대에게 참된 친구가 되어야 한다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>어른이 된 이후에 사귄 친구는 진정한 친구가 아니다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>어린 시절에 사귄 친구는 어른이 된 후에 도움이 되지 않는다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>학창 시절에는 친구를 사귀는 것보다는 공부에 더 집중해야 한다.</p></div></div></div>
          </div>
          <div id="entry-700e6b08-6cf1-4b19-8c8b-6e917263a297" data-id="700e6b08-6cf1-4b19-8c8b-6e917263a297" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">150</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;의 의미를 담은 표현을 이 글에서 찾아 쓰시오.</p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">- 사전적 의미: 한없이 크고 넓은 바다</p><p class="para0">- 이 글에서의 문학적 의미: 고난과 어려움이 가득한 삶</p><p></p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>