<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-b837728b-943b-4aa1-bafe-372211fc9416" data-id="b837728b-943b-4aa1-bafe-372211fc9416" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">어리석은 세상은 너를 몰라</p><p class="para0" style="text-align:left;">누에 속에 감춰진 너를 못 봐</p><p class="para0" style="text-align:left;">나는 알아 내겐 보여</p><p class="para0" style="text-align:left;">그토록 찬란한 너의 날개</p><p class="para0" style="text-align:left;">겁내지 마 할 수 있어</p><p class="para0" style="text-align:left;">뜨겁게 꿈틀거리는</p><p class="para0" style="text-align:left;">날개를 펴 날아올라 세상 위로</p><p class="para0" style="text-align:left;">꺾여 버린 꽃처럼 아플 때도</p><p class="para0" style="text-align:left;">쓰러진 나무처럼 초라해도</p><p class="para0" style="text-align:left;">너를 믿어 나를 믿어</p><p class="para0" style="text-align:left;">우리는 서로를 믿고 있어</p><p class="para0" style="text-align:left;">심장에 손을 움켜 봐</p><p class="para0" style="text-align:left;">힘겹게 접어 놓았던</p><p class="para0" style="text-align:left;">날개를 펴 날아올라 세상 위로</p><p class="para0" style="text-align:left;">ⓐ<span style="text-decoration:underline;text-decoration-color:black;">태양처럼 빛을 내는 그대여</span></p><p class="para0" style="text-align:left;">이 세상이 거칠게 막아서도</p><p class="para0" style="text-align:left;">빛나는 사람아 난 너를 사랑해</p><p class="para0" style="text-align:left;">널 세상이 볼 수 있게 날아 저 멀리</p><p class="para0" style="text-align:right;">- 강현민·이재학 작사, 이재학 작곡, &lt;버터플라이&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>