<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-26f429b6-f799-469a-a567-1143135a8f8b" data-id="26f429b6-f799-469a-a567-1143135a8f8b" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para0" style="text-align:left;">(마) 바로 이때에 영혼을 함께 나눌 친구가 절실히 필요해진다. 인생이란 험난한 항해를 같이 겪고 있다는 동지애의 확인, 혹은 내 삶의 따뜻한 동반자라는 느낌이 전해져 오는 친구와 같이 있는 시간에는 이 세상도 한번 살아 볼 만하다는 용기가 솟는다.</p><p class="para0" style="text-align:left;">목소리만 듣고도 친구가 처해 있는 상황을 눈치채는 우정, 눈짓만 보아도 친구가 무엇을 원하는지 알아채는 우정, 그런 돈독한 우정을 상호 간에 교환하고 있는 이들이라면, 그렇다면 적어도 실패한 삶은 아니라고 단정할 수 있는 것이다.</p><p class="para0" style="text-align:left;">(바) 살아가면서 그런 우정을 가꾸는 이들을 종종 만난다. 비록 나의 친구는 아니지만 그 모습을 보는 일은 참 아름답다. 언젠가 친구가 사업에 실패해서 낙향(落鄕)하여 쓸쓸히 살아가는 것을 안쓰러워하다 못해 자기도 다니던 직장을 정리하고 가족과 함께 시골로 내려가 친구 옆에서 땅을 일구는 사람을 만난 적이 있었다.</p><p class="para0" style="text-align:left;">이미 결혼하여 각각의 식솔을 이끌고 있는 두 사람한테는 참으로 어려운 결정이었겠지만, 양쪽 집의 가족들 모두는, 한결같이 이렇게 말하는 것이었다. 냉혹한 이 세상에 대항하기 위해 두 집이 힘을 합쳤으니 얼마나 든든하냐고.</p><p class="para0" style="text-align:left;">(사) 누군가는 말했다. 친구 없이 사는 일만큼 ⓒ<span style="text-decoration:underline;text-decoration-color:black;">무서운 사막</span>은 없다고. 또 누군가는 말했다. 친구 없이 사는 것은 ⓓ<span style="text-decoration:underline;text-decoration-color:black;">증인 없이 죽는 일</span>이라고.</p><p class="para0" style="text-align:left;">그 말들을 새기고 있으면 불현듯 마음이 찡해 온다. 나는 지금 무서운 사막을 홀로 걷고 있는 것은 아닌지, 지금 내 삶의 의미를 설명해 줄 단 한 사람의 증인도 없이 마음을 닫고 살아가는 것은 아닌지.</p><p class="para0" style="text-align:left;">(아) 하지만 우정은 상호 간의 교류이다. 일방적인 행위가 결코 아닌 것이다. 말하자면 내가 먼저 ⓔ<span style="text-decoration:underline;text-decoration-color:black;">쌓아야 할 탑</span>이고 내가 밭을 경작해서 ⓕ<span style="text-decoration:underline;text-decoration-color:black;">맺어야 할 열매</span>인 것이다. 그럼에도 불구하고 탑을 제대로 쌓는 사람, 혹은 빛깔 곱고 아름다운 열매를 맺는 사람은 참 드물다. 친구는 많지만 진정으로 벗이라 부를 만한 이는 몇이나 되는지, 그것만이라도 한 번쯤 되새겨 보며 살아야 하는 것 아닐까.</p><p class="para0" style="text-align:right;">- 양귀자, &lt;사막을 같이 가는 벗&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-34560639-cdb5-4c1c-aebe-337c65c8866c" data-id="34560639-cdb5-4c1c-aebe-337c65c8866c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">154</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)~(마)의 내용과 일치하지 <span style="text-decoration:underline;text-decoration-color:black;">않는</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>어린 시절 글쓴이는 신학기를 싫어했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>다른 아이들처럼 글쓴이는 새로운 반에 빨리 적응했다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>글쓴이는 친하지 않은 친구들과 함께 하는 점심시간을 불편해했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>성인이 된 글쓴이는 어려운 세상살이에 친구가 필요하다고 여긴다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>현재의 글쓴이는 친구를 사귀는 것보다 세상살이가 더 어렵다고 느낀다.</p></div></div></div>
          </div>
          <div id="entry-9927b1ec-21de-4475-ba2c-2c2c1719bada" data-id="9927b1ec-21de-4475-ba2c-2c2c1719bada" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">155</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">우정에 대한 글쓴이의 생각으로 볼 수 <span style="text-decoration:underline;text-decoration-color:black;">없는</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>친구 사이의 진정한 우정은 한쪽의 노력으로 얻을 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>참된 친구는 시련 속에서 든든한 버팀목이 되어 줄 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>돈독한 친구 사이에서는 목소리만 들어도 친구의 상황을 알 수 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>친구를 통해 험난한 세상살이도 살아 볼 만하다는 용기를 낼 수 있다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>진실된 친구라면 친구가 겪는 어려움을 이해하고 함께 극복할 수 있다.</p></div></div></div>
          </div>
          <div id="entry-325e485f-f2f3-448f-80a9-9d991ef507fc" data-id="325e485f-f2f3-448f-80a9-9d991ef507fc" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">156</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤의 어휘 풀이로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 편성: 엮어 모아서 책, 신문, 영화 따위를 만듦.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 선연히: 실제로 보는 것같이 생생하게.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 무렴: 염치가 없음을 느껴 마음이 부끄러움.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 속살거리는: 남이 알아듣지 못하게 작은 소리로 자꾸 이야기하는.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 황폐: 거칠고 피폐함.</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>