<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-456aeeda-0fd2-45ab-bccd-35db183c8dc0" data-id="456aeeda-0fd2-45ab-bccd-35db183c8dc0" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para0" style="text-align:left;">(마) 바로 이때에 영혼을 함께 나눌 친구가 ㉠<span style="text-decoration:underline;text-decoration-color:black;">절실히</span> 필요해진다. 인생이란 험난한 항해를 같이 겪고 있다는 동지애의 확인, 혹은 내 삶의 따뜻한 동반자라는 느낌이 전해져 오는 친구와 같이 있는 시간에는 이 세상도 한번 살아 볼 만하다는 용기가 솟는다.</p><p class="para0" style="text-align:left;">목소리만 듣고도 친구가 처해 있는 상황을 눈치채는 우정, 눈짓만 보아도 친구가 무엇을 원하는지 알아채는 우정, 그런 ㉡<span style="text-decoration:underline;text-decoration-color:black;">돈독한</span> 우정을 상호 간에 교환하고 있는 이들이라면, 그렇다면 적어도 실패한 삶은 아니라고 단정할 수 있는 것이다.</p><p class="para0" style="text-align:left;">(바) 살아가면서 그런 우정을 가꾸는 이들을 종종 만난다. 비록 나의 친구는 아니지만 그 모습을 보는 일은 참 아름답다. 언젠가 친구가 사업에 실패해서 ㉢<span style="text-decoration:underline;text-decoration-color:black;">낙향(落鄕)</span>하여 쓸쓸히 살아가는 것을 안쓰러워하다 못해 자기도 다니던 직장을 정리하고 가족과 함께 시골로 내려가 친구 옆에서 땅을 일구는 사람을 만난 적이 있었다.</p><p class="para0" style="text-align:left;">이미 결혼하여 각각의 ㉣<span style="text-decoration:underline;text-decoration-color:black;">식솔</span>을 이끌고 있는 두 사람한테는 참으로 어려운 결정이었겠지만, 양쪽 집의 가족들 모두는, 한결같이 이렇게 말하는 것이었다. 냉혹한 이 세상에 대항하기 위해 두 집이 힘을 합쳤으니 얼마나 든든하냐고.</p><p class="para0" style="text-align:left;">(사) 누군가는 말했다. 친구 없이 사는 일만큼 무서운 사막은 없다고. 또 누군가는 말했다. 친구 없이 사는 것은 증인 없이 죽는 일이라고.</p><p class="para0" style="text-align:left;">그 말들을 새기고 있으면 ㉤<span style="text-decoration:underline;text-decoration-color:black;">불현듯</span> 마음이 찡해 온다. 나는 지금 무서운 사막을 홀로 걷고 있는 것은 아닌지, 지금 내 삶의 의미를 설명해 줄 단 한 사람의 증인도 없이 마음을 닫고 살아가는 것은 아닌지.</p><p class="para0" style="text-align:left;">(아) 하지만 우정은 상호 간의 교류이다. 일방적인 행위가 결코 아닌 것이다. 말하자면 내가 먼저 쌓아야 할 탑이고 내가 밭을 경작해서 맺어야 할 열매인 것이다. 그럼에도 불구하고 탑을 제대로 쌓는 사람, 혹은 빛깔 곱고 아름다운 열매를 맺는 사람은 참 드물다. 친구는 많지만 진정으로 벗이라 부를 만한 이는 몇이나 되는지, 그것만이라도 한 번쯤 되새겨 보며 살아야 하는 것 아닐까.</p><p class="para0" style="text-align:right;">- 양귀자, &lt;사막을 같이 가는 벗&gt;</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-47f1a69a-76ab-42de-99d5-c04fe081c8de" data-id="47f1a69a-76ab-42de-99d5-c04fe081c8de" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">161</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가)~(라)를 읽고 확인할 수 <span style="text-decoration:underline;text-decoration-color:black;">없는</span> 내용은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>현재의 글쓴이는 세상살이를 부정적으로 생각한다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>학창 시절 글쓴이는 친구를 새로 사귀는 데 어려움을 겪었다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>글쓴이는 반이 바뀔 때마다 마주치는 어색한 분위기를 싫어했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>글쓴이는 학년이 바뀔 때마다 느끼는 소외감에서 벗어나지 못했다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>어른이 된 글쓴이는 세상살이를 하며 인간관계에 어려움을 느낀다.</p></div></div></div>
          </div>
          <div id="entry-c5d0f413-d068-41da-a354-a5e431489410" data-id="c5d0f413-d068-41da-a354-a5e431489410" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">162</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">글쓴이가 생각하는 성공한 삶으로 볼 수 <span style="text-decoration:underline;text-decoration-color:black;">없는</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>누군가에게 참다운 친구가 되어 주는 삶</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>서로 함께 노력하여 진실된 우정을 지키는 삶</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>어려움을 만났을 때 함께 나눌 친구가 있는 삶</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>각자의 가정을 포기하고 평생 친구와 함께하는 삶 </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>험난한 세상살이의 동반자가 되어 주는 친구가 있는 삶</p></div></div></div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>