<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-456aeeda-0fd2-45ab-bccd-35db183c8dc0" data-id="456aeeda-0fd2-45ab-bccd-35db183c8dc0" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para0" style="text-align:left;">(가) 학창 시절에는 유별나게도 학년이 바뀌고 반이 바뀌어 친구들과 뿔뿔이 흩어져야 하는 신학기가 싫었다. 마음으로 간절히 원했던 친구는 거의 언제나 다른 반으로 가 버렸고, 한 반이 되지 않기를 빌고 빌었던 친구는 어김없이 한 반으로 편성되곤 하는 불행 아닌 불행 앞에서 얼마나 많이 속상해했는지 모른다.</p><p class="para0" style="text-align:left;">그래서 학년이 바뀌고 처음 얼마 동안은 늘 마음을 잡지 못했다. 아침에 눈을 떠 학교에 갈 일을 생각하면 가슴 한 켠이 써늘해지곤 하던 그 느낌을 지금도 나는 선연(鮮然)히 떠올릴 수가 있다.</p><p class="para0" style="text-align:left;">(나) 특히 운동장 조회나 체육 시간 같은 때 친한 친구도 없이 외따로 떨어져 그 지겨운 시간을 견딜 생각을 하면 어디론가 도망가고 싶을 지경이었다. 게다가 점심시간은 또 얼마나 무렴(無廉)한지, 친하지도 않은 짝과 김칫국물 흐른 도시락을 꺼내 놓고 밥알 씹는 소리까지 서로 환히 들어가며 밥 먹을 생각을 하면 입맛도 달아나 버렸다.</p><p class="para0" style="text-align:left;">그런데 다른 아이들은 그렇지 않은 것 같았다. 가만히 살펴보면 어느새 하나둘씩 친한 친구를 만들어 저희끼리 밥도 먹고 조회 시간에도 나란히 서서 다정하게 속살거리는데, 그 속에서 혼자만 외톨이로 빙빙 돌고 있는 아이는 나 하나뿐인 것처럼 생각되곤 했다.</p><p class="para0" style="text-align:left;">(다) 그 지독한 소외감은 물론 시간이 흐르면서 조금씩 나아지기는 했다. 여름 방학을 할 때쯤이면 운동장 조회나 점심시간을 외롭게 하지 않을 단짝 한 명 정도는 발견하기 마련이니까 결국은 시간이 해결해 주기 마련이다.</p><p class="para0" style="text-align:left;">그러나 역시 시간이 흐르면 신학기 또한 어김없이 다시 찾아오는 것이었다. 그러면 다시 이별과 탐색, 그리고 그 지독한 소외감에 시달리는 쓸쓸한 나날이 잊지도 않고 이어지는 것이었다.</p><p class="para0" style="text-align:left;">(라) 이제는 반이 나뉘고 새로운 급우들한테서 실컷 낯섦을 맛봐야 하는 신학기 따위는 영영 내 곁에서 사라졌다. 그 대신 시기하고 미워하며, 또는 빼앗고 속이는 황폐한 세상살이에 낯가림하며 사는 나날 속으로 내던져지고 말았다.</p><p class="para0" style="text-align:left;">망망대해(茫茫大海)를 헤매는 듯한 인생의 항해는 신학기 잠시의 외로움을 극복하는 일 따위와는 비교도 할 수 없을 만큼 두려움 가득하고 힘들다. 삶은 고난투성이고 끝없는 인내를 요구하기만 하는데, 그러나 홀로 헤치는 파도는 높고 거칠기만 한 것이다.</p>
              </div>
          </div>
        </div>
        <div class="dan-2-1">
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>