<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../styles/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk-theme.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/mathjax-svg.css" id="MJX-SVG-styles" />
  </head>
  <body>
    <page data-type="outside-cover">
      <!-- 뒷표지 -->
      <%- include('./뒷표지.ejs') %>
      <!-- 책등 -->
      <%- include('./책등.ejs') %>
      <!-- 표지 -->
      <%- include('./앞표지.ejs') %>
    </page>

    <page style="height: 303mm;"></page>

    <script>
      const pageList = document.querySelectorAll('page');
      const spineWidth = (240 / 2) * 0.09 + 1.05;
      let pageWidth;

      for (let page of pageList) {
        const spineElement = page.querySelector('.bk-spine-page');
        if (spineElement) {
          spineElement.style.setProperty('width', `${spineWidth}mm`);
          pageWidth = page.clientWidth;
        }

        page.style.setProperty('width', pageWidth + 'px');

        page.insertAdjacentHTML('beforeend', `
          <div>
            <div style="position: absolute;right: -5mm;width: 10mm;height:10mm;top: -10mm;border-left: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -10mm;width: 10mm;height:10mm;top: -5mm;border-left: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -5mm;width: 10mm;height:10mm;bottom: -10mm;border-left: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -10mm;width: 10mm;height:10mm;bottom: -5mm;border-left: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -5mm;width: 10mm;height:10mm;top: -10mm;border-right: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -10mm;width: 10mm;height:10mm;top: -5mm;border-right: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -5mm;width: 10mm;height:10mm;bottom: -10mm;border-right: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -10mm;width: 10mm;height:10mm;bottom: -5mm;border-right: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: calc(50% - ${spineWidth / 2}mm); width: 1px; height:10mm; top: -10mm;background-color: #000; box-sizing: border-box;"></div>
            <div style="position: absolute;right: calc(50% - ${spineWidth / 2}mm); width: 1px; height:10mm; top: -10mm;background-color: #000; box-sizing: border-box;"></div>
            <div style="position: absolute;left: calc(50% - ${spineWidth / 2}mm); width: 1px; height:10mm; bottom: -10mm;background-color: #000; box-sizing: border-box;"></div>
            <div style="position: absolute;right: calc(50% - ${spineWidth / 2}mm); width: 1px; height:10mm; bottom: -10mm;background-color: #000; box-sizing: border-box;"></div>
          </div>
        `)
      }
    </script>
  </body>
  </html>