<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../styles/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk-theme.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/mathjax-svg.css" id="MJX-SVG-styles" />
  </head>
  <body>
    <page data-type="book-cover">
      <!-- 뒷표지 -->
      <%- include('./뒷표지.ejs') %>
      <!-- 책등 -->
      <%- include('./책등.ejs') %>
      <!-- 표지 -->
      <%- include('./앞표지.ejs') %>
    </page>

  </body>
  </html>