
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/bg-back-cover.png); ">
    <div class="bk-back-cover">
      <div class="bk-sub-title">중등 2학년 1학기 100점 만점<br>쌍둥이 기출문제집</div>
      <h1 class="bk-main-title">중등 쌍둥이<br>기출문제집</h1>
    </div>
  </div>
