
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/bg-tobira1.png);">
    <div class="bk-tobira-page left">
      <div class="tobira-bg">
        <div class="ico-unit">&#8545;</div>
        <div class="ico-unit">&#8546;</div>
        <div class="ico-unit">&#8547;</div>
      </div>
    </div>
  </div> -->
  <div class="bk-spine-page">
    <div class="title-area">
      <h1 class="bk-main-title">중등 쌍둥이 기출문제집</h1>
    </div>
    <div class="bk-info">
      <p class="bk-subject">수학</p>
      <p class="bk-grade"><span>2</span>학년</p>
      <p class="bk-semester"><span>1</span>학기</p>
    </div>
  </div>
