<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/science/es_301_5-1.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/science/es_301_5-2.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/science/es_301_5-3.png);"></div>
</page>