<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/sciencees_301_1-1.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/science/es_301_1-2.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/science/es_301_1-3.png);"></div>
</page>