<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-be3e2aae-31c5-43e0-b12c-779cfc1054b8" data-id="be3e2aae-31c5-43e0-b12c-779cfc1054b8" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">12</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">새로운 탐구를 계획하는 과정을 순서대로 나열한 것을 고르세요.</p><div class="para0"><table style="border-collapse:collapse;width:276px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:276px;height:3px;vertical-align:middle;" class="itex_box_body"><div class="itex_box_element"><p class="para0">ㄱ. 탐구 문제를 정합니다.</p></div><div class="itex_box_element"><p class="para0">ㄴ. 실험을 하면서 관찰하거나 측정해야 할 것을 정합니다.</p></div><div class="itex_box_element"><p class="para0">ㄷ. 탐구 문제를 해결하려면 어떻게 실험해야 할지 생각합니다.</p></div><div class="itex_box_element"><p class="para0">ㄹ. 실험에 필요한 준비물을 정하고 실험 과정을 순서대로 정리합니다.</p></div><div class="itex_box_element"><p class="para0">ㅁ. 실험에서 다르게 해야 할 조건과 같게 해야 할 조건을 찾고, 그 방법을 정합니다. </p></div></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0"><span class="sel_num_po">① </span>ㄱ → ㄴ → ㄷ → ㄹ → ㅁ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">② </span>ㄱ → ㄴ → ㅁ → ㄷ → ㄹ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">③ </span>ㄱ → ㄷ → ㅁ → ㄴ → ㄹ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">④ </span>ㄷ → ㄱ → ㅁ → ㄴ → ㄹ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">⑤ </span>ㄹ → ㄱ → ㄷ → ㅁ → ㄴ</p><p class="para0"></p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>