<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-ad08e0f9-94cd-4584-a2b0-95dd55ea4c1b" data-id="ad08e0f9-94cd-4584-a2b0-95dd55ea4c1b" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">15</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">다음은 실험 조건을 정하는 방법에 대한 설명입니다. 빈칸에 들어갈 알맞은 말을 바르게 짝 지은 것을 고르세요.</p><p class="para0"></p><div class="para0"><table style="border-collapse:collapse;width:280px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:280px;height:3px;vertical-align:middle;" class="itex_box_body"><p class="para0">실험 계획을 세울 때에는 가설이 맞는지 확인할 수 있는 실험 방법을 생각합니다. 그리고 실험에서 <span style="border:1px solid black;">&nbsp;&nbsp;&nbsp;</span> 해야 할 조건과 <span style="border:1px solid black;">&nbsp;&nbsp;&nbsp;</span> 해야 할 조건을 정합니다.</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0"><span class="sel_num_po">① </span>같이, 혼자</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">② </span>해석, 분석 </p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">③ </span>다르게, 같게</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">④ </span>먼저, 나중에</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">⑤ </span>빠르게, 느리게</p><p class="para0"></p></div></div></div>
          </div>
          <div id="entry-4fa4b2af-7c49-4dcd-87b1-48ca890ad9d6" data-id="4fa4b2af-7c49-4dcd-87b1-48ca890ad9d6" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">16</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">다음의 가설을 확인하기 위한 실험 계획을 세울 때 다르게 할 조건으로 알맞은 것을 고르세요.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:3px;vertical-align:middle;" class="itex_box_body"><p class="para0">효모는 차가운 곳보다 따뜻한 곳에서 더 잘 발효할 것입니다.</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0"><span class="sel_num_po">① </span>효모의 양</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">② </span>효모의 종류</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">③ </span>효모를 놓을 곳의 온도&nbsp;&nbsp;</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">④ </span>효모를 보관하는 장소의 밝기</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">⑤ </span>효모를 넣고 보관할 시험관의 크기</p><p class="para0"></p></div></div></div>
          </div>
          <div id="entry-0fe40361-26c2-412b-a6bd-774a2aa73aad" data-id="0fe40361-26c2-412b-a6bd-774a2aa73aad" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">17</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">단비는 효모의 발효 조건을 알아보기 위해 다음과 같이 실험 계획을 세웠습니다. 단비가 세운 실험 계획에서 잘못된 실험 과정의 기호를 쓰세요. </p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:3px;vertical-align:middle;" class="itex_box_body"><div class="itex_box_element"><p class="para0">ㄱ. 같은 양의 효모액을 시험관에 넣는다.</p></div><div class="itex_box_element"><p class="para0">ㄴ. 효모액이 담겨 있는 시험관을 차가운 물과 따뜻한 물에 각각 담근다.</p></div><div class="itex_box_element"><p class="para0">ㄷ. 차가운 물에 담근 시험관의 변화는 15분 후에 관찰하고, 따뜻한 물에 담근 시험관의 변화는 20분 후에 관찰한다.</p></div></td></tr></tbody></table></div><p class="para0" style="text-align:right;"><span data-mathinfo="78,1000,3105,1195;;box{~~~~~~}" class="itexmath itexboxevt_parent" contenteditable="false" data-latex="\displaystyle  \class{itexboxevt}{} \boxed { \,\, \,\, \,\, \,\, \,\, \,\, \mathstrut } "><mjx-container class="MathJax" jax="SVG" role="presentation" style="position: relative;"><svg xmlns="http://www.w3.org/2000/svg" width="5.733ex" height="3.471ex" role="img" focusable="false" viewBox="0 -1017 2534 1534" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" style="vertical-align: -1.17ex;"><defs></defs><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g data-mml-node="math"><g data-mml-node="mstyle"><g data-mml-node="mrow" class="itexboxevt"></g><g data-mml-node="menclose"><g transform="translate(267, 0)"><g data-mml-node="mstyle"><g data-mml-node="TeXAtom" data-mjx-texclass="ORD"><g data-mml-node="mstyle"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(166.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(333.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(500, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(666.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(833.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1000, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1166.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1333.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1500, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1666.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1833.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="TeXAtom" data-mjx-texclass="ORD" transform="translate(2000, 0)"><g data-mml-node="mpadded"><g data-mml-node="mphantom"></g></g></g></g></g></g><rect x="33.5" y="-483.5" width="2467" height="1467" fill="none" stroke-width="67"></rect></g></g></g></g></svg><mjx-assistive-mml role="presentation" unselectable="on" display="inline"><math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true" scriptlevel="0"><mrow class="itexboxevt"></mrow><menclose notation="box"><mstyle displaystyle="true" scriptlevel="0"><mrow><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mrow><mpadded width="0"><mphantom><mo stretchy="false">(</mo></mphantom></mpadded></mrow></mrow></mstyle></menclose></mstyle></math></mjx-assistive-mml></mjx-container></span></p><p class="para0"></p></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>