<page data-type="bk">
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/07.도비라2.png);"></div> -->
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/07.도비라.png);">
    <div class="tobira-right">
      <div class="ico-unit">&#8544;</div>
      <div class="unit-title">수와 식의 계산</div>

      <div class="unit-two-depth">
        <span class="num">1.</span>
        <span class="tit">유리수와 순환소수</span>
      </div>
      <div class="unit-three-depth">
        <span class="num">01.</span>
        <span class="tit">유리수와 순환소수</span>
        <span class="line"></span>
        <span class="page">8</span>
      </div>
      <div class="unit-three-depth">
        <span class="num">02.</span>
        <span class="tit">순환소수의 분수 표현</span>
        <span class="line"></span>
        <span class="page">14</span>
      </div>
      
      <div class="unit-two-depth">
        <span class="num">2.</span>
        <span class="tit">단항식의 계산</span>
      </div>
      <div class="unit-three-depth">
        <span class="num">01.</span>
        <span class="tit">지수법칙</span>
        <span class="line"></span>
        <span class="page">26</span>
      </div>
      <div class="unit-three-depth">
        <span class="num">02.</span>
        <span class="tit">단항식의 곱셈과 나눗셈</span>
        <span class="line"></span>
        <span class="page">46</span>
      </div>
  
      <div class="unit-two-depth">
        <span class="num">3.</span>
        <span class="tit">다항식의 계산</span>
      </div>
      <div class="unit-three-depth">
        <span class="num">01.</span>
        <span class="tit">다항식의 덧셈과 뺄셈</span>
        <span class="line"></span>
        <span class="page">54</span>
      </div>
      <div class="unit-three-depth">
        <span class="num">02.</span>
        <span class="tit">다항식의 곱셈과 나눗셈</span>
        <span class="line"></span>
        <span class="page">14</span>
      </div>
    </div>
  </div>
</page>