<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <img src="../styles/image/math/중1-1_유형서_써머리-8.png" width="100%" />
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>