<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-61137b9f-9c79-4365-a31d-1904abad8c4f" data-id="61137b9f-9c79-4365-a31d-1904abad8c4f" class="entry level1">
            <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p>
            
              <div class="level2">
                <p class="para0" style="text-align:left;">눈이 내린다</p><p class="para0" style="text-align:left;">봄이라서</p><p class="para0" style="text-align:left;">봄빛처럼 포근한 눈</p><p class="para0" style="text-align:left;">담장 위에 쌓이는 봄눈</p><p class="para0" style="text-align:left;">나무 위에 쌓이는 봄눈</p><p class="para0" style="text-align:left;">마당 위에 쌓이는 봄눈</p><p class="para0" style="text-align:left;">그리고</p><p class="para0" style="text-align:left;">마루에서 졸다가 깬</p><p class="para0" style="text-align:left;">눈을 하고 앉은</p><p class="para0" style="text-align:left;">새끼 고양이의 눈 속에도</p><p class="para0" style="text-align:left;">내리는 봄눈</p><p class="para0" style="text-align:left;">감았다 떴다 하는</p><p class="para0" style="text-align:left;"><span style="font-weight:bold;">[A]《</span>새끼 고양이의 눈처럼</p><p class="para0" style="text-align:left;">보드라운</p><p class="para0" style="text-align:left;">봄<span style="font-weight:bold;">》</span></p><p class="para0" style="text-align:left;">봄 하늘</p><p class="para0" style="text-align:left;">봄 하늘의 봄눈</p><p class="para0" style="text-align:left;">오규원, &lt;포근한 봄&gt;</p>
              </div>
          </div>  
          <div id="entry-82201fde-fa12-44e4-9987-d0cf08a856b8" data-id="82201fde-fa12-44e4-9987-d0cf08a856b8" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">28</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>봄눈이 바람직한 삶의 자세를 일깨워 준다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>대상의 일부분으로 대상의 전체를 비유한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>쓸쓸하고 추운 느낌을 주는 계절이 나타난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>행의 길이를 점차 늘여가며 표현한 구절이 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>반대의 의미를 가진 두 대상을 통해 주제를 강조한다.</p></div></div></div>
          </div>
          <div id="entry-b41f8968-fbfb-41d4-bfb7-17b48c252108" data-id="b41f8968-fbfb-41d4-bfb7-17b48c252108" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">29</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글에 나타난 비유적 표현의 효과로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>시 전체의 분위기를 효과적으로 드러낸다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>포근하고 부드러운 봄눈의 느낌을 살린다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>아름답고 평화로운 봄날의 풍경을 떠올리게 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>봄눈에 인격을 부여하여 생동감 있는 느낌을 준다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>봄눈을 다른 대상에 빗대어 신선함을 느끼게 한다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-1d78aceb-7654-40c8-8e88-bd6dcad6ee84" data-id="1d78aceb-7654-40c8-8e88-bd6dcad6ee84" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">30</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">[A]와 &lt;보기 1&gt;의 표현 방법을 &lt;보기 2&gt;에 정리할 때, ㄱ과 ㄴ에 들어갈 말을 각각 두 글자로 쓰시오. </p><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:283px;height:59px;vertical-align:middle;" class="itex_box_body"><p class="para0">&lt;보기 1&gt;</p><p class="para0">비 오는 날 / 차 창문은</p><p class="para0">물방울 놀이터</p><p></p></td></tr></tbody></table></div><div class="para0"><table style="border-collapse:collapse;width:283px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:283px;height:152px;vertical-align:middle;" class="itex_box_body"><p class="para0">&lt;보기 2&gt;</p><p class="para0">[A]와 &lt;보기 1&gt;은 모두 표현하고자 하는 대상을 익히 알고 있는 다른 대상에 빗대어 나타내는 비유의 표현 방법이 나타난다. 그러나 [A]와 &lt;보기 1&gt;에 쓰인 비유의 종류는 서로 다른데, [A]에는 <span style="text-decoration:underline;text-decoration-color:black;">&nbsp;&nbsp; ㄱ&nbsp;&nbsp; </span>가 쓰였고 &lt;보기 1&gt;에는 <span style="text-decoration:underline;text-decoration-color:black;">&nbsp;&nbsp; ㄴ&nbsp;&nbsp; </span>가 쓰였다.</p><p></p></td></tr></tbody></table></div></div>
          </div>
          <div id="entry-d57e53ee-6fbe-4117-8eea-17d3a9e719ea" data-id="d57e53ee-6fbe-4117-8eea-17d3a9e719ea" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">31</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">상징에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>‘A는 B이다.’의 형식으로 나타내는 표현 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>이어 주는 말을 활용하여 나타내는 표현 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>사람이 아닌 것을 사람처럼 나타내는 표현 방법이다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>추상적인 개념을 구체적인 대상으로 나타내는 표현 방법이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>표현하려는 대상을 다른 대상에 빗대어 나타내는 표현 방법이다.</p></div></div></div>
          </div>
          <div id="entry-45ccc5ed-1253-4170-b871-bce26911fa2e" data-id="45ccc5ed-1253-4170-b871-bce26911fa2e" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">32</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">원형적 상징의 예로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>‘불’은 죽음을 상징한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>‘사진’은 노력을 상징한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>‘피아노’는 개성을 상징한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>‘초콜릿’은 이별을 상징한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>‘문구점’은 외로움을 상징한다.</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>