<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-212123a3-6a92-48b9-8d4c-9fe16a460767" data-id="212123a3-6a92-48b9-8d4c-9fe16a460767" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">55</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글의 표현상 특징으로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>상징적 소재를 사용해 시의 주제를 드러낸다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>동일한 시구를 되풀이해 시의 의미를 강조한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>비슷한 문장 구조를 반복해 리듬감을 만들어낸다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>반대되는 두 대상을 내세워 말하는 이의 의지를 보여 준다. </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>3연을 중심으로 1연과 5연, 2연과 4연의 의미가 각각 대칭을 이룬다.</p></div></div></div>
          </div>
          <div id="entry-c7dcae5f-9a5d-462a-abbc-ef82b5f5dcba" data-id="c7dcae5f-9a5d-462a-abbc-ef82b5f5dcba" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">56</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">말하는 이의 상황과 태도로 적절하지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>길을 걸어가며 다양한 대상을 만나고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>쉬지 않고 부지런히 주어진 길을 걸어가고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>길을 걷는 과정을 통해 의지적인 태도를 보여 준다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>끊임없이 이어진 길을 새로운 마음으로 가고자 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>불행한 현재에 비해 달라질 미래에 대해 기대하고 있다.</p></div></div></div>
          </div>
          <div id="entry-224e5a78-5d94-43be-b86e-27bca6d7d428" data-id="224e5a78-5d94-43be-b86e-27bca6d7d428" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">57</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글과 &lt;보기&gt;가 리듬감을 만들어내는 방식의 공통점을 네 글자로 쓰시오.</p><div class="para0"><table style="border-collapse:collapse;width:264px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><p class="para0">내 마음의 어딘 듯 한편에 끝없는</p><p class="para0">강물이 흐르네.</p><p class="para0">돋쳐 오르는 아침 날빛이 빤질한</p><p class="para0">은결을 도도네.</p><p class="para0">가슴엔 듯 눈엔 듯 또 핏줄엔 듯</p><p class="para0">마음이 도른도른 숨어 있는 곳</p><p class="para0">내 마음의 어딘 듯 한편에 끝없는</p><p class="para0">강물이 흐르네.</p><p class="para0" style="text-align:right;">- 김영랑, &lt;끝없는 강물이 흐르네&gt;</p><p></p></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>