<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-a10f212a-893a-4045-a7f3-9d34ca1c2ef4" data-id="a10f212a-893a-4045-a7f3-9d34ca1c2ef4" class="entry level1">
            <!-- <p class="para0" style="text-align:left;">다음 글을 읽고, 물음에 답하시오.</p> -->
            
              <div class="level2">
                <p class="para22" style="text-align:left;">고갯마루까지는 산허리를 세 번이나 돌면서 올라가야 합니다. 더구나 오늘은 책 보퉁이가, 모두 한 학년씩 올라가서 그런지 굉장히 무겁습니다. </p><p class="para22" style="text-align:left;">용이는 첫 굽이를 돌아가기도 전에 마른 잔디 위에 앉아 쉬어야 했습니다. 이렇게 무거운 짐을 날마다 메고 올라가야 할 일을 생각하니 기가 막힙니다.</p><p class="para22" style="text-align:left;">더구나 5학년의 성윤이까지 맡기기 시작했으니 이러다가 올해는 지게로 져다 날라야 할지 모릅니다. 이걸 어떻게 하나?</p><p class="para22" style="text-align:left;">저 밑에서 따라 올라오던 2학년, 3학년 아이들이 모두 책 보퉁이를 허리에 둘러매고 용이를 앞질러 올라갑니다. 그 아이들은 용이를 돌아보면서 저희끼리 무엇이라 수군거렸습니다.</p><p class="para22" style="text-align:left;"><span>“헤헤, ㉮</span><span style="text-decoration:underline;text-decoration-color:black;">4학년이 됐다는 아이</span><span>가 남의 책 보퉁이나 메다 주고…….”</span></p><p class="para22" style="text-align:left;">“참 못난 아이제.” / 모두 이런 말로 수군거리는 것 같았습니다.</p><p class="para22" style="text-align:left;">‘뭐, 못난 아이라고?’</p><p class="para22" style="text-align:left;">용이는 화가 났습니다. 벌써 고개 위에 다 올라갔는지 아이들의 고함이 산 위에서 들려왔을 때, 갑자기 용이는 눈앞에 있는 책 보퉁이들을 그냥 콱콱 짓밟아 버리고 싶은 생각이 났습니다. </p><p class="para22" style="text-align:right;">- 이오덕, &lt;꿩&gt;</p>
              </div>
          </div>
          <div id="entry-5688fe5d-3e7d-4902-bb12-a99c67889046" data-id="5688fe5d-3e7d-4902-bb12-a99c67889046" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">75</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">이 글에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>인물의 마음속 갈등이 생생하게 드러난다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>일정한 줄거리가 드러나지 않는 이야기이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>실제로 일어난 사건을 소재로 한 이야기이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>도시적인 공간을 배경으로 이야기가 전개된다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>인물의 얼굴과 표정을 그림 그리듯이 설명하였다.</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-15fa5d47-ec7b-4e2b-8cc8-5576bc1e0ac3" data-id="15fa5d47-ec7b-4e2b-8cc8-5576bc1e0ac3" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">76</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉮ ‘4학년이 됐다는 아이’가 가리키는 인물과 이 인물에 대한 설명으로 적절한 것은?</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>용이: 순이처럼 학교를 그만 다니고 싶어 한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>용이: 2, 3학년 아이들의 놀림을 받고 분노한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>용이: 남의 책 보퉁이를 대신 들어주는 것을 좋아한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>순이: 아버지의 직업 때문에 아이들에게 괴롭힘을 당한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>순이: 아이들과 달리 새 학년이 된 것을 기뻐하지 않는다.</p></div></div></div>
          </div>
          <div id="entry-ef8adbe3-0499-4cb3-a35f-c9d6d0ae594c" data-id="ef8adbe3-0499-4cb3-a35f-c9d6d0ae594c" class="entry level3 level1-level3">
            <div class="entry-info">
              <span class="entry-num">77</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">㉠~㉤ 중, 이 글의 시대적 배경과 관련된 소재로 볼 수 <span style="text-decoration:underline;text-decoration-color:black;">없는</span> 것은?　(<span style="text-decoration:underline;text-decoration-color:black;">정답 2개</span>)</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>㉠ 보리밥</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>㉡ 책 보퉁이</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>㉢ 머슴살이</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>㉣ 된장국</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>㉤ 향토 예비군</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>