<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../styles/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk-theme.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/mathjax-svg.css" id="MJX-SVG-styles" />
  </head>
  <body>
    <!-- 1페이지 -->
    <%- include('./속표지.ejs') %>
    <!-- 2~3페이지 -->
    <%- include('./목차.ejs') %>

    <!-- 수학: 개념서 -->
    <!-- 4페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 5페이지 -->
    <%- include('./math/대단원표지_1.ejs') %>
    <!-- 6페이지 -->
    <%- include('./math/이전이후학습.ejs') %>
    <!-- 7페이지 -->
    <%- include('./math/마인드맵.ejs') %>
    <!-- 8페이지 -->
    <%- include('./math/1.ejs') %>
    <!-- 9페이지 -->
    <%- include('./math/2.ejs') %>
    <!-- 10페이지 -->
    <%- include('./math/3.ejs') %>
    <!-- 11페이지 -->
    <%- include('./math/4.ejs') %>
    <%- include('./math/5.ejs') %>
    <%- include('./math/6.ejs') %>
    <!-- 14페이지 -->
    <%- include('./math/7.ejs') %>
    <%- include('./math/8.ejs') %>
    <%- include('./math/9.ejs') %>
    <!-- 17페이지 -->
    <%- include('./math/10.ejs') %>
    <%- include('./math/11.ejs') %>
    <%- include('./math/12.ejs') %>
    <!-- 20페이지 -->
    <%- include('./math/13.ejs') %>
    <%- include('./math/14.ejs') %>
    <%- include('./math/15.ejs') %>
    <!-- 23페이지 -->
    <%- include('./math/16.ejs') %>
    <%- include('./math/17.ejs') %>
    <%- include('./math/18.ejs') %>
    <!-- 26페이지 -->
    <%- include('./math/19.ejs') %>
    <%- include('./math/20.ejs') %>
    <%- include('./math/21.ejs') %>
    <!-- 29페이지 -->
    <%- include('./math/22.ejs') %>
    <%- include('./math/23.ejs') %>
    <%- include('./math/24.ejs') %>
    <!-- 32페이지 -->
    <%- include('./math/25.ejs') %>
    <%- include('./math/26.ejs') %>
    <%- include('./math/27.ejs') %>
    <!-- 35페이지 -->
    <%- include('./math/28.ejs') %>
    <%- include('./math/29.ejs') %>
    <%- include('./math/30.ejs') %>

    <!-- 수학: 유형서 -->
    <!-- 38페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 39페이지 -->
    <%- include('./math/대단원표지_2.ejs') %>
    <!-- 40페이지 -->
    <%- include('./math/31.ejs') %>
    <%- include('./math/32.ejs') %>
    <%- include('./math/33.ejs') %>
    <%- include('./math/34.ejs') %>
    <!-- 44페이지 -->
    <%- include('./math/35.ejs') %>
    <%- include('./math/36.ejs') %>
    <%- include('./math/37.ejs') %>
    <%- include('./math/38.ejs') %>
    <!-- 48페이지 -->
    <%- include('./math/39.ejs') %>
    <%- include('./math/40.ejs') %>
    <%- include('./math/41.ejs') %>
    <%- include('./math/42.ejs') %>
    <!-- 52페이지 -->
    <%- include('./math/43.ejs') %>
    <%- include('./math/44.ejs') %>
    <%- include('./math/45.ejs') %>
    <%- include('./math/46.ejs') %>
    <%- include('./math/47.ejs') %>
    <%- include('./math/48.ejs') %>
    <%- include('./math/49.ejs') %>
    <!-- 59페이지 -->
    <%- include('./math/50.ejs') %>
    <%- include('./math/51.ejs') %>
    <%- include('./math/52.ejs') %>
    <%- include('./math/53.ejs') %>
    <%- include('./math/54.ejs') %>
    <!-- 64페이지 -->
    <%- include('./math/55.ejs') %>
    <%- include('./math/56.ejs') %>
    <%- include('./math/57.ejs') %>
    <%- include('./math/58.ejs') %>
    <%- include('./math/59.ejs') %>
    <%- include('./math/60.ejs') %>
    <%- include('./math/61.ejs') %>
    <%- include('./math/62.ejs') %>

    <!-- 국어 -->
    <!-- 72페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 73페이지 -->
    <%- include('./kor/대단원표지_3.ejs') %>
    <!-- 74~75페이지 -->
    <%- include('./kor/1.ejs') %>
    <!-- 76페이지 -->
    <%- include('./kor/2.ejs') %>
    <%- include('./kor/3.ejs') %>
    <!-- 78~79페이지 -->
    <%- include('./kor/4.ejs') %>
    <!-- 80페이지 -->
    <%- include('./kor/5.ejs') %>
    <%- include('./kor/6.ejs') %>
    <%- include('./kor/7.ejs') %>
    <!-- 83~85페이지 -->
    <%- include('./kor/8.ejs') %>
    <!-- 86페이지 -->
    <%- include('./kor/9.ejs') %>
    <%- include('./kor/10.ejs') %>
    <%- include('./kor/11.ejs') %>
    <!-- 89~96페이지 -->
    <%- include('./kor/12.ejs') %>
    <!-- 97페이지 -->
    <%- include('./kor/13.ejs') %>
    <%- include('./kor/14.ejs') %>
    <%- include('./kor/15.ejs') %>
    <!-- 100~102페이지 -->
    <%- include('./kor/16.ejs') %>
    <!-- 103페이지 -->
    <%- include('./kor/17.ejs') %>
    <%- include('./kor/18.ejs') %>
    <%- include('./kor/19.ejs') %>
    <%- include('./kor/20.ejs') %>
    <!-- 107~110페이지 -->
    <%- include('./kor/21.ejs') %>
    <!-- 111페이지 -->
    <%- include('./kor/22.ejs') %>
    <%- include('./kor/23.ejs') %>
    <%- include('./kor/24.ejs') %>
    <!-- 114~페이지 -->
    <%- include('./kor/25.ejs') %>

    <script>
      const pageList = document.querySelectorAll('page');
      for (let page of pageList) {
        page.insertAdjacentHTML('beforeend', `
          <div>
            <div style="position: absolute;right: -5mm;width: 10mm;height:10mm;top: -10mm;border-left: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -10mm;width: 10mm;height:10mm;top: -5mm;border-left: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -5mm;width: 10mm;height:10mm;bottom: -10mm;border-left: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -10mm;width: 10mm;height:10mm;bottom: -5mm;border-left: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -5mm;width: 10mm;height:10mm;top: -10mm;border-right: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -10mm;width: 10mm;height:10mm;top: -5mm;border-right: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -5mm;width: 10mm;height:10mm;bottom: -10mm;border-right: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -10mm;width: 10mm;height:10mm;bottom: -5mm;border-right: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
          </div>
        `)
      }

    </script>
  </body>
</html>
