<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../styles/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/bk-theme.css" />
    <link type="text/css" rel="stylesheet" href="../styles/css/mathjax-svg.css" id="MJX-SVG-styles" />
  </head>
  <body>
    <!-- 1페이지 -->
    <%- include('./속표지.ejs') %>
    <!-- 2~3페이지 -->
    <%- include('./목차.ejs') %>

    <!-- 수학: 개념서 -->
    <!-- 4페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 5페이지 -->
    <%- include('./math/대단원표지_1.ejs') %>
    <!-- 6페이지 -->
    <%- include('./math/이전이후학습.ejs') %>
    <!-- 7페이지 -->
    <%- include('./math/마인드맵.ejs') %>
    <!-- 8페이지 -->
    <%- include('./math/1.ejs') %>
    <!-- 9페이지 -->
    <%- include('./math/2.ejs') %>
    <!-- 10페이지 -->
    <%- include('./math/3.ejs') %>
    <!-- 11페이지 -->
    <%- include('./math/4.ejs') %>
    <%- include('./math/5.ejs') %>
    <%- include('./math/6.ejs') %>
    <!-- 14페이지 -->
    <%- include('./math/7.ejs') %>
    <%- include('./math/8.ejs') %>
    <%- include('./math/9.ejs') %>
    <!-- 17페이지 -->
    <%- include('./math/10.ejs') %>
    <%- include('./math/11.ejs') %>
    <%- include('./math/12.ejs') %>
    <!-- 20페이지 -->
    <%- include('./math/13.ejs') %>
    <%- include('./math/14.ejs') %>
    <%- include('./math/15.ejs') %>
    <!-- 23페이지 -->
    <%- include('./math/16.ejs') %>
    <%- include('./math/17.ejs') %>
    <%- include('./math/18.ejs') %>
    <!-- 26페이지 -->
    <%- include('./math/19.ejs') %>
    <%- include('./math/20.ejs') %>
    <%- include('./math/21.ejs') %>
    <!-- 29페이지 -->
    <%- include('./math/22.ejs') %>
    <%- include('./math/23.ejs') %>
    <%- include('./math/24.ejs') %>
    <!-- 32페이지 -->
    <%- include('./math/25.ejs') %>
    <%- include('./math/26.ejs') %>
    <%- include('./math/27.ejs') %>
    <!-- 35페이지 -->
    <%- include('./math/28.ejs') %>
    <%- include('./math/29.ejs') %>
    <%- include('./math/30.ejs') %>

    <!-- 수학: 유형서 -->
    <!-- 38페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 39페이지 -->
    <%- include('./math/대단원표지_2.ejs') %>
    <!-- 40페이지 -->
    <%- include('./math/31.ejs') %>
    <%- include('./math/32.ejs') %>
    <%- include('./math/33.ejs') %>
    <%- include('./math/34.ejs') %>
    <!-- 44페이지 -->
    <%- include('./math/35.ejs') %>
    <%- include('./math/36.ejs') %>
    <%- include('./math/37.ejs') %>
    <%- include('./math/38.ejs') %>
    <!-- 48페이지 -->
    <%- include('./math/39.ejs') %>
    <%- include('./math/40.ejs') %>
    <%- include('./math/41.ejs') %>
    <%- include('./math/42.ejs') %>
    <!-- 52페이지 -->
    <%- include('./math/43.ejs') %>
    <%- include('./math/44.ejs') %>
    <%- include('./math/45.ejs') %>
    <%- include('./math/46.ejs') %>
    <%- include('./math/47.ejs') %>
    <%- include('./math/48.ejs') %>
    <%- include('./math/49.ejs') %>
    <!-- 59페이지 -->
    <%- include('./math/50.ejs') %>
    <%- include('./math/51.ejs') %>
    <%- include('./math/52.ejs') %>
    <%- include('./math/53.ejs') %>
    <%- include('./math/54.ejs') %>
    <!-- 64페이지 -->
    <%- include('./math/55.ejs') %>
    <%- include('./math/56.ejs') %>
    <%- include('./math/57.ejs') %>
    <%- include('./math/58.ejs') %>
    <%- include('./math/59.ejs') %>
    <%- include('./math/60.ejs') %>
    <%- include('./math/61.ejs') %>
    <%- include('./math/62.ejs') %>

    <!-- 국어 -->
    <!-- 72페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 73페이지 -->
    <%- include('./kor/대단원표지_3.ejs') %>
    <!-- 74~75페이지 -->
    <%- include('./kor/1.ejs') %>
    <!-- 76페이지 -->
    <%- include('./kor/2.ejs') %>
    <%- include('./kor/3.ejs') %>
    <!-- 78~79페이지 -->
    <%- include('./kor/4.ejs') %>
    <!-- 80페이지 -->
    <%- include('./kor/5.ejs') %>
    <%- include('./kor/6.ejs') %>
    <%- include('./kor/7.ejs') %>
    <!-- 83~85페이지 -->
    <%- include('./kor/8.ejs') %>
    <!-- 86페이지 -->
    <%- include('./kor/9.ejs') %>
    <%- include('./kor/10.ejs') %>
    <%- include('./kor/11.ejs') %>
    <!-- 89~96페이지 -->
    <%- include('./kor/12.ejs') %>
    <!-- 97페이지 -->
    <%- include('./kor/13.ejs') %>
    <%- include('./kor/14.ejs') %>
    <%- include('./kor/15.ejs') %>
    <!-- 100~102페이지 -->
    <%- include('./kor/16.ejs') %>
    <!-- 103페이지 -->
    <%- include('./kor/17.ejs') %>
    <%- include('./kor/18.ejs') %>
    <%- include('./kor/19.ejs') %>
    <%- include('./kor/20.ejs') %>
    <!-- 107~110페이지 -->
    <%- include('./kor/21.ejs') %>
    <!-- 111페이지 -->
    <%- include('./kor/22.ejs') %>
    <%- include('./kor/23.ejs') %>
    <%- include('./kor/24.ejs') %>
    <!-- 114~117페이지 -->
    <%- include('./kor/25.ejs') %>
    <!-- 118페이지 -->
    <%- include('./kor/26.ejs') %>
    <%- include('./kor/27.ejs') %>
    <%- include('./kor/28.ejs') %>
    <%- include('./kor/29.ejs') %>
    <%- include('./kor/30.ejs') %>
    <!-- 123~126페이지 -->
    <%- include('./kor/31.ejs') %>
    <!-- 127페이지 -->
    <%- include('./kor/32.ejs') %>
    <%- include('./kor/33.ejs') %>
    <%- include('./kor/34.ejs') %>
    <%- include('./kor/35.ejs') %>
    <%- include('./kor/36.ejs') %>
    <!-- 132~135페이지 -->
    <%- include('./kor/37.ejs') %>
    <!-- 136페이지 -->
    <%- include('./kor/38.ejs') %>
    <%- include('./kor/39.ejs') %>
    <%- include('./kor/40.ejs') %>
    <%- include('./kor/41.ejs') %>
    <%- include('./kor/42.ejs') %>
    <%- include('./kor/43.ejs') %>
    <!-- 142~148페이지 -->
    <%- include('./kor/44.ejs') %>
    <!-- 149페이지 -->
    <%- include('./kor/45.ejs') %>
    <%- include('./kor/46.ejs') %>
    <%- include('./kor/47.ejs') %>
    <%- include('./kor/48.ejs') %>
    <%- include('./kor/49.ejs') %>
    <!-- 154~159페이지 -->
    <%- include('./kor/50.ejs') %>
    <!-- 160페이지 -->
    <%- include('./kor/51.ejs') %>
    <%- include('./kor/52.ejs') %>
    <%- include('./kor/53.ejs') %>
    <%- include('./kor/54.ejs') %>
    <%- include('./kor/55.ejs') %>
    <!-- 165~168페이지 -->
    <%- include('./kor/56.ejs') %>
    <!-- 169페이지 -->
    <%- include('./kor/57.ejs') %>
    <%- include('./kor/58.ejs') %>
    <%- include('./kor/59.ejs') %>
    <%- include('./kor/60.ejs') %>
    <%- include('./kor/61.ejs') %>
    <!-- 174~178페이지 -->
    <%- include('./kor/62.ejs') %>
    <!-- 179페이지 -->
    <%- include('./kor/63.ejs') %>
    <%- include('./kor/64.ejs') %>
    <%- include('./kor/65.ejs') %>
    <%- include('./kor/66.ejs') %>
    <%- include('./kor/67.ejs') %>
    <%- include('./kor/68.ejs') %>
    <%- include('./kor/69.ejs') %>
    <!-- 186~189페이지 -->
    <%- include('./kor/70.ejs') %>
    <!-- 190페이지 -->
    <%- include('./kor/71.ejs') %>
    <%- include('./kor/72.ejs') %>
    <%- include('./kor/73.ejs') %>
    <%- include('./kor/74.ejs') %>
    <%- include('./kor/75.ejs') %>
    <%- include('./kor/76.ejs') %>
    <!-- 196~200페이지 -->
    <%- include('./kor/77.ejs') %>
    <!-- 201페이지 -->
    <%- include('./kor/78.ejs') %>
    <%- include('./kor/79.ejs') %>
    <%- include('./kor/80.ejs') %>
    <%- include('./kor/81.ejs') %>
    <%- include('./kor/82.ejs') %>
    <%- include('./kor/83.ejs') %>
    <%- include('./kor/84.ejs') %>

    <!-- 사회 -->
    <!-- 208페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 209페이지 -->
    <%- include('./social/대단원표지_4.ejs') %>
    <!-- 210~212페이지 -->
    <%- include('./social/1.ejs') %>
    <!-- 213페이지 -->
    <%- include('./social/2.ejs') %>
    <!-- 214~216페이지 -->
    <%- include('./social/3.ejs') %>
    <!-- 217페이지 -->
    <%- include('./social/4.ejs') %>
    <%- include('./social/5.ejs') %>
    <!-- 219~221페이지 -->
    <%- include('./social/6.ejs') %>
    <!-- 222페이지 -->
    <%- include('./social/7.ejs') %>
    <%- include('./social/8.ejs') %>
    <!-- 224~227페이지 -->
    <%- include('./social/9.ejs') %>
    <!-- 228페이지 -->
    <%- include('./social/10.ejs') %>
    <%- include('./social/11.ejs') %>
    <!-- 230~232페이지 -->
    <%- include('./social/12.ejs') %>
    <!-- 233페이지 -->
    <%- include('./social/13.ejs') %>
    <%- include('./social/14.ejs') %>
    <!-- 235~237페이지 -->
    <%- include('./social/15.ejs') %>
    <!-- 238페이지 -->
    <%- include('./social/16.ejs') %>
    <%- include('./social/17.ejs') %>
    <!-- 240~242페이지 -->
    <%- include('./social/18.ejs') %>
    <!-- 243페이지 -->
    <%- include('./social/19.ejs') %>
    <%- include('./social/20.ejs') %>
    <!-- 245~246페이지 -->
    <%- include('./social/21.ejs') %>
    <!-- 247페이지 -->
    <%- include('./social/22.ejs') %>
    <%- include('./social/23.ejs') %>
    <!-- 249~251페이지 -->
    <%- include('./social/24.ejs') %>
    <!-- 252페이지 -->
    <%- include('./social/25.ejs') %>
    <%- include('./social/26.ejs') %>
    <!-- 254~256페이지 -->
    <%- include('./social/27.ejs') %>
    <!-- 257페이지 -->
    <%- include('./social/28.ejs') %>
    <%- include('./social/29.ejs') %>
    <!-- 259~260페이지 -->
    <%- include('./social/30.ejs') %>
    <!-- 261페이지 -->
    <%- include('./social/31.ejs') %>
    <%- include('./social/32.ejs') %>
    <!-- 263~264페이지 -->
    <%- include('./social/33.ejs') %>
    <!-- 265페이지 -->
    <%- include('./social/34.ejs') %>
    <%- include('./social/35.ejs') %>
    <!-- 267~269페이지 -->
    <%- include('./social/36.ejs') %>
    <!-- 270페이지 -->
    <%- include('./social/37.ejs') %>
    <%- include('./social/38.ejs') %>
    <!-- 272~273페이지 -->
    <%- include('./social/39.ejs') %>
    <!-- 274페이지 -->
    <%- include('./social/40.ejs') %>
    <%- include('./social/41.ejs') %>
    <!-- 276~278페이지 -->
    <%- include('./social/42.ejs') %>
    <!-- 279페이지 -->
    <%- include('./social/43.ejs') %>
    <%- include('./social/44.ejs') %>
    <%- include('./social/45.ejs') %>

    <!-- 과학 -->
    <!-- 282페이지 -->
    <%- include('./빈페이지.ejs') %>
    <!-- 283페이지 -->
    <%- include('./science/대단원표지_5.ejs') %>
    <!-- 284~286페이지 -->
    <%- include('./science/1.ejs') %>
    <!-- 287페이지 -->
    <%- include('./science/2.ejs') %>
    <!-- 288~290페이지 -->
    <%- include('./science/3.ejs') %>
    <!-- 291페이지 -->
    <%- include('./science/4.ejs') %>
    <!-- 292~294페이지 -->
    <%- include('./science/5.ejs') %>
    <!-- 295페이지 -->
    <%- include('./science/6.ejs') %>
    <%- include('./science/7.ejs') %>
    <!-- 297~299페이지 -->
    <%- include('./science/8.ejs') %>
    <!-- 300페이지 -->
    <%- include('./science/9.ejs') %>
    <%- include('./science/10.ejs') %>
    <!-- 302~304페이지 -->
    <%- include('./science/11.ejs') %>
    <!-- 305페이지 -->
    <%- include('./science/12.ejs') %>
    <%- include('./science/13.ejs') %>
    <!-- 307~309페이지 -->
    <%- include('./science/14.ejs') %>
    <!-- 310페이지 -->
    <%- include('./science/15.ejs') %>
    <%- include('./science/16.ejs') %>
    <!-- 312~314페이지 -->
    <%- include('./science/17.ejs') %>
    <!-- 315페이지 -->
    <%- include('./science/18.ejs') %>
    <!-- 316~318페이지 -->
    <%- include('./science/19.ejs') %>
    <!-- 319페이지 -->
    <%- include('./science/20.ejs') %>
    <!-- 320~322페이지 -->
    <%- include('./science/21.ejs') %>
    <!-- 323페이지 -->
    <%- include('./science/22.ejs') %>
    <%- include('./science/23.ejs') %>
    <!-- 325~326페이지 -->
    <%- include('./science/24.ejs') %>
    <!-- 327페이지 -->
    <%- include('./science/25.ejs') %>
    <%- include('./science/26.ejs') %>

    <script>
      const pageList = document.querySelectorAll('page');
      for (let page of pageList) {
        page.insertAdjacentHTML('beforeend', `
          <div>
            <div style="position: absolute;right: -5mm;width: 10mm;height:10mm;top: -10mm;border-left: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -10mm;width: 10mm;height:10mm;top: -5mm;border-left: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -5mm;width: 10mm;height:10mm;bottom: -10mm;border-left: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;right: -10mm;width: 10mm;height:10mm;bottom: -5mm;border-left: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -5mm;width: 10mm;height:10mm;top: -10mm;border-right: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -10mm;width: 10mm;height:10mm;top: -5mm;border-right: 1px solid #000;border-bottom: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -5mm;width: 10mm;height:10mm;bottom: -10mm;border-right: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
            <div style="position: absolute;left: -10mm;width: 10mm;height:10mm;bottom: -5mm;border-right: 1px solid #000;border-top: 1px solid #000;box-sizing: border-box;"></div>
          </div>
        `)
      }

    </script>
  </body>
</html>
