<page data-type="bk">
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/04.차례1.png)"> -->
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/04.차례2.png)">

    <div class="bk-contents-page">

      <div class="one-depth">
        <span class="num">Ⅰ</span>
        <span class="tit">수와 식의 계산</span>
      </div>
      
      <div class="two-depth">
        <span class="num">1.</span>
        <span class="tit">유리수와 순환소수</span>
      </div>
      <div class="three-depth">
        <span class="num">01.</span>
        <span class="tit">유리수와 순환소수</span>
        <span class="page">8</span>
      </div>
      <div class="three-depth">
        <span class="num">02.</span>
        <span class="tit">순환소수의 분수 표현</span>
        <span class="page">14</span>
      </div>
      
      <div class="two-depth">
        <span class="num">2.</span>
        <span class="tit">단항식의 계산</span>
      </div>
      <div class="three-depth">
        <span class="num">01.</span>
        <span class="tit">지수법칙</span>
        <span class="page">26</span>
      </div>
      <div class="three-depth">
        <span class="num">02.</span>
        <span class="tit">단항식의 곱셈과 나눗셈</span>
        <span class="page">46</span>
      </div>
  
      <div class="two-depth">
        <span class="num">3.</span>
        <span class="tit">다항식의 계산</span>
      </div>
      <div class="three-depth">
        <span class="num">01.</span>
        <span class="tit">다항식의 덧셈과 뺄셈</span>
        <span class="page">54</span>
      </div>
      <div class="three-depth">
        <span class="num">02.</span>
        <span class="tit">다항식의 곱셈과 나눗셈</span>
        <span class="page">14</span>
      </div>

    </div>


  </div>
</page>
<page data-type="bk">
  <div
    class="bk-page bk-image-page"
    style="background-image: url(../styles/image/05.차례2.png)"
  ></div>
</page>
