<page data-type="bk">
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/04.차례1.png)"> -->
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/04.차례2.png)">

    <div class="bk-index-page first">
      
      <div class="bk-index-dan">

        <div class="one-depth">
          <span class="num">Ⅰ</span>
          <span class="tit">수와 식의 계산</span>
        </div>
        
        <div class="two-depth">
          <span class="num">1.</span>
          <span class="tit">유리수와 순환소수</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">유리수와 순환소수</span>
          <span class="line"></span>
          <span class="page">8</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">순환소수의 분수 표현</span>
          <span class="line"></span>
          <span class="page">14</span>
        </div>
        
        <div class="two-depth">
          <span class="num">2.</span>
          <span class="tit">단항식의 계산</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">지수법칙</span>
          <span class="line"></span>
          <span class="page">26</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">단항식의 곱셈과 나눗셈</span>
          <span class="line"></span>
          <span class="page">46</span>
        </div>
    
        <div class="two-depth">
          <span class="num">3.</span>
          <span class="tit">다항식의 계산</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">다항식의 덧셈과 뺄셈</span>
          <span class="line"></span>
          <span class="page">54</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">다항식의 곱셈과 나눗셈</span>
          <span class="line"></span>
          <span class="page">14</span>
        </div>

        <div class="one-depth">
          <span class="num">Ⅱ</span>
          <span class="tit">부등식</span>
        </div>
        
        <div class="two-depth">
          <span class="num">1.</span>
          <span class="tit">일차부등식</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">유부등식의 해와 그 성질</span>
          <span class="line"></span>
          <span class="page">76</span>
        </div>

      </div>

      <div class="bk-index-dan">

        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">일차부등식의 풀이</span>
          <span class="line"></span>
          <span class="page">86</span>
        </div>
        <div class="three-depth">
          <span class="num">03.</span>
          <span class="tit">일차부등식의 활용</span>
          <span class="line"></span>
          <span class="page">96</span>
        </div>

        <div class="one-depth">
          <span class="num">Ⅲ</span>
          <span class="tit">방정식</span>
        </div>
        
        <div class="two-depth">
          <span class="num">1.</span>
          <span class="tit">연립일차방정식</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">연립일차방정식</span>
          <span class="line"></span>
          <span class="page">104</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">연립방정식의 풀이</span>
          <span class="line"></span>
          <span class="page">120</span>
        </div>
        <div class="three-depth">
          <span class="num">03.</span>
          <span class="tit">연립방정식의 활용</span>
          <span class="line"></span>
          <span class="page">136</span>
        </div>

        <div class="one-depth">
          <span class="num">Ⅳ</span>
          <span class="tit">함수</span>
        </div>
        
        <div class="two-depth">
          <span class="num">1.</span>
          <span class="tit">일차함수와 그래프(1)</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">함수</span>
          <span class="line"></span>
          <span class="page">144</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">일차함수와 그 그래프</span>
          <span class="line"></span>
          <span class="page">156</span>
        </div>

        <div class="two-depth">
          <span class="num">2.</span>
          <span class="tit">일차함수와 그래프(2)</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">일차함수와 그래프의 성질과 식</span>
          <span class="line"></span>
          <span class="page">164</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">일차함수의 식 구하기</span>
          <span class="line"></span>
          <span class="page">172</span>
        </div>

      </div>

    </div>


  </div>
</page>
<page data-type="bk">
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/05.차례2.png)"> -->
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/05.차례3.png)">
  
    <div class="bk-index-page second">
      
      <div class="bk-index-dan">

        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">일차함수와 그래프의 성질과 식</span>
          <span class="line"></span>
          <span class="page">164</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">일차함수의 식 구하기</span>
          <span class="line"></span>
          <span class="page">172</span>
        </div>
        <div class="three-depth">
          <span class="num">03.</span>
          <span class="tit">일차함수의 활용</span>
          <span class="line"></span>
          <span class="page">180</span>
        </div>

        <div class="two-depth">
          <span class="num">3.</span>
          <span class="tit">일차함수와 일차방정식의 관계</span>
        </div>
        <div class="three-depth">
          <span class="num">01.</span>
          <span class="tit">일차함수와 일차방정식</span>
          <span class="line"></span>
          <span class="page">188</span>
        </div>
        <div class="three-depth">
          <span class="num">02.</span>
          <span class="tit">일차함수의 그래프와 연립일차 방정식</span>
          <span class="line"></span>
          <span class="page">196</span>
        </div>
      </div>

      <div class="bk-index-dan"></div>

    </div>

  </div>
</page>
