<page data-type="bk">
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/빈페이지.png);"></div> -->
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/빈페이지2.png);">
    <div class="tobira-left">
      <div class="ico-unit2"></div>
      <div class="ico-unit3"></div>
      <div class="ico-unit4"></div>
    </div>
  </div>
</page>