<page data-type="bk">
  <!-- <div class="bk-page bk-image-page" style="background-image: url(../styles/image/빈페이지.png);"></div> -->
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/빈페이지2.png);">
    <div class="bk-tobira-page left">
      <div class="tobira-bg">
        <div class="ico-unit">&#8545;</div>
        <div class="ico-unit">&#8546;</div>
        <div class="ico-unit">&#8547;</div>
      </div>
    </div>
  </div>
</page>