<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/01.속표지2.png);">
    <div class="bk-title-page">
      <h1 class="bk-main-title">중등 쌍둥이<br>기출문제집</h1>
      <div class="bk-sub-title">중등 2학년 1학기 100점 만점<br>쌍둥이 기출문제집</div>
    </div>
  </div>
</page>