<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/01.속표지2.png); border: 1px solid red;">
    <div class="bk-title-page">
      <div class="bk-top-area">
        <h1 class="main-title">중등 쌍둥이<br>기출문제집</h1>
        <p class="sub-title">중등 2학년 1학기 100점 만점<br>쌍둥이 기출문제집</p>
      </div>
    </div>
  </div>
</page>