<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/01.속표지2.png); border: 1px solid red;">
    <div class="bk-title-page">
      <h1 class="bk-main-title">중등 쌍둥이<br>기출문제집</h1>
      <div class="bk-sub-title">중등 2학년 1학기 100점 만점<br>쌍둥이 기출문제집</div>

      <div class="bk-info">
        <p class="bk-subject">수학</p>
        <p class="bk-grade"><span>2</span>학년 <span>1</span>학기</p>
      </div>
      <div class="bk-copyright">
        <p class="bk-institute">강남 종로학원</p>
        <p class="bk-writer"> ㅣ 이단비 편저</p>강남 종로학원 ㅣ 이단비 편저
      </div>
    </div>
  </div>
</page>