<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/01.속표지2.png); border: 1px solid red;">
    <h1 class="book-title">중등 쌍둥이<br>기출문제집</h1>
  </div>
</page>