<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-cbb96fc7-9bef-49b7-97aa-d79795b259a2" data-id="cbb96fc7-9bef-49b7-97aa-d79795b259a2" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">4</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">내가 추리한 내용을 친구들에게 더 정확하게 전달하기 위해 사용하는 것으로 알맞지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것을 고르세요.</p><div class="level4"><div class="sel_list"><p class="para0"><span class="sel_num_po">① </span>표</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">② </span>몸짓</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">③ </span>그림</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">④ </span>그래프</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">⑤ </span>글로만 작성된 관찰 결과 </p><p class="para0"></p></div></div></div>
          </div>
          <div id="entry-b14ef39a-5cee-4360-9ae6-8572171a6674" data-id="b14ef39a-5cee-4360-9ae6-8572171a6674" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">5</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">과학적인 의사소통 방법으로 옳지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것을 고르세요.</p><div class="level4"><div class="sel_list"><p class="para0"><span class="sel_num_po">① </span>타당한 근거를 제시하여 설명합니다.</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">② </span>표, 몸짓 등을 사용하여 설명합니다.</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">③ </span>그림이나 그래프를 사용하여 설명합니다.</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">④ </span>다른 사람이 이해하기 쉽게 말해야 합니다.</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">⑤ </span>다른 사람의 탐구 결과에 궁금한 점이 생겨도 질문은 하지 않습니다. </p><p class="para0"></p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">
          <div id="entry-0d3cb96f-ff0a-4609-b73b-48c07a78ae74" data-id="0d3cb96f-ff0a-4609-b73b-48c07a78ae74" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">6</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0">다음과 같이 과학자가 자신이 탐구한 내용을 말이나 글로만 설명하지 않고 간단한 그림으로 나타낸 까닭으로 옳은 것을 &lt;보기&gt;에서 골라 바르게 짝지은 것은 무엇인가요?</p><div style="display:block;position:relative;top:0px; text-align:center;" class="para0"><img style="width:192px;" src="https://d35bbraqcyivyx.cloudfront.net/FTC5001/0x9E079ECAF1F711ECAACD62852AA13F8C.jpg" data-width="132px, 192px"></div><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10.5pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10.5pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><div class="itex_box_element"><p class="para0">ㄱ. 다른 사람을 쉽게 설득할 수 있기 때문입니다.</p></div><div class="itex_box_element"><p class="para0">ㄴ. 자신의 생각을 더 정확하게 전달할 수 있기 때문입니다.</p></div><div class="itex_box_element"><p class="para0">ㄷ. 자신이 탐구한 결과를 애매하게 전달할 수 있기 때문입니다.</p></div></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0"><span class="sel_num_po">① </span>ㄱ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">② </span>ㄷ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">③ </span>ㄱ, ㄴ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">④ </span>ㄱ, ㄷ</p></div><div class="sel_list"><p class="para0"><span class="sel_num_po">⑤ </span>ㄴ, ㄷ</p><p class="para0"></p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>