<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-2ed93c92-0159-4a1c-ad1c-fbd94a9770c9" data-id="2ed93c92-0159-4a1c-ad1c-fbd94a9770c9" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">31</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 내용이 가리키는 용어는 무엇인지 쓰시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">• 헌법에 의해 보장되는 국민의 기본적 인권이다.</p><p class="para0">• 평등권, 자유권, 참정권, 사회권, 청구권 등이 있다.</p><p></p></td></tr></tbody></table></div><p class="para0" style="text-align:right;"><span data-mathinfo="78,1000,2605,1195;;BOX{~~~~~}" class="itexmath itexboxevt_parent" contenteditable="false" data-latex="\displaystyle  \class{itexboxevt}{} \boxed { \,\, \,\, \,\, \,\, \,\, \mathstrut } "><mjx-container class="MathJax" jax="SVG" role="presentation" style="position: relative;"><svg xmlns="http://www.w3.org/2000/svg" width="4.979ex" height="3.471ex" role="img" focusable="false" viewBox="0 -1017 2200.7 1534" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" style="vertical-align: -1.17ex;"><defs></defs><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g data-mml-node="math"><g data-mml-node="mstyle"><g data-mml-node="mrow" class="itexboxevt"></g><g data-mml-node="menclose"><g transform="translate(267, 0)"><g data-mml-node="mstyle"><g data-mml-node="TeXAtom" data-mjx-texclass="ORD"><g data-mml-node="mstyle"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(166.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(333.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(500, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(666.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(833.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1000, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1166.7, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1333.3, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="mstyle" transform="translate(1500, 0)"><g data-mml-node="mspace"></g></g><g data-mml-node="TeXAtom" data-mjx-texclass="ORD" transform="translate(1666.7, 0)"><g data-mml-node="mpadded"><g data-mml-node="mphantom"></g></g></g></g></g></g><rect x="33.5" y="-483.5" width="2133.7" height="1467" fill="none" stroke-width="67"></rect></g></g></g></g></svg><mjx-assistive-mml role="presentation" unselectable="on" display="inline"><math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true" scriptlevel="0"><mrow class="itexboxevt"></mrow><menclose notation="box"><mstyle displaystyle="true" scriptlevel="0"><mrow><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mstyle scriptlevel="0"><mspace width="thinmathspace"></mspace></mstyle><mrow><mpadded width="0"><mphantom><mo stretchy="false">(</mo></mphantom></mpadded></mrow></mrow></mstyle></menclose></mstyle></math></mjx-assistive-mml></mjx-container></span></p></div>
          </div>
          <div id="entry-f2c160ca-34b7-4c0b-8dde-f7b4a19a01e2" data-id="f2c160ca-34b7-4c0b-8dde-f7b4a19a01e2" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">32</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 우리나라 헌법 조항이 직접 규정하고 있는 기본권으로 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">제10조&nbsp;&nbsp;모든 국민은 인간으로서의 존엄과 가치를 가지며, 행복을 추구할 권리를 가진다. …….</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>사회권&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>자유권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>참정권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>평등권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>인간의 존엄과 가치 및 행복 추구권</p></div></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>