<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/social/mso_2_7-1.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/social/mso_2_7-2.png);"></div>
</page>
<page data-type="bk">
  <div class="bk-page bk-image-page" style="background-image: url(../styles/image/social/mso_2_7-3.png);"></div>
</page>