<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-a649e053-1cae-4b49-bf5c-f45c94268ec0" data-id="a649e053-1cae-4b49-bf5c-f45c94268ec0" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">79</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">헌법 재판소에 대한 설명으로 알맞지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것을 고르시오.</p><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>법률이 헌법에 어긋나는지 여부를 판단한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>헌법 질서를 지키고 국민의 기본권을 보장한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>공권력이 기본권을 침해했는지 여부를 판단한다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>행정부, 사법부 등 다른 국가 기관에 속하지 않은 독립된 국가 기관이다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>법을 잘 모르거나 경제적으로 어려운 사람에게 무료로 소송 지원을 해 준다.</p></div></div></div>
          </div>
          <div id="entry-cc066dd8-3c31-4866-9242-dedcd11950c9" data-id="cc066dd8-3c31-4866-9242-dedcd11950c9" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">80</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">밑줄 친 ‘이것’으로 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">공권력에 의해 기본권을 침해당한 국민이&nbsp;<span style="text-decoration:underline;text-decoration-color:black;">이것</span>을 청구한 경우, <span style="color:#ff0000;">헌법 재판소는 </span>공권력이 기본권을 침해했는지를 판단하여 인권 침해를 구제한다.</p></td></tr></tbody></table></div></div>
          </div>
        </div>
        <div class="dan-2-1">

        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>