<page data-type="bk">
  <div class="bk-page bk-quiz-page bk-image-page" style="background-image: url(../styles/image/08.내지1.png);">
    <div class="bk-header">
      
    </div>
    <div class="bk-body">
      <div class="dan-2">
        <div class="dan-2-1">
          <div id="entry-d5d2f050-96fa-431b-b8cd-d0e111863027" data-id="d5d2f050-96fa-431b-b8cd-d0e111863027" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">8</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">(가), (나)에 해당하는 인권의 특징을 알맞게 연결한 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><div class="itex_box_element"><p class="para0">(가) 모든 사람이 동등하게 누릴 수 있는 권리</p></div><div class="itex_box_element"><p class="para0">(나) 태어나면서부터 하늘에 의해 부여받은 권리</p></div></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>(가) : 자연권, (나) : 천부 인권&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>(가) : 천부 인권, (나) : 보편적 권리&nbsp;&nbsp;&nbsp;&nbsp; </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>(가) : 보편적 권리, (나) : 천부 인권</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>(가) : 보편적 권리, (나) : 불가침의 권리</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>(가) : 불가침의 권리, (나) : 천부 인권</p></div></div></div>
          </div>
          <div id="entry-6cbc91aa-15c2-46a0-9689-f899103f95a2" data-id="6cbc91aa-15c2-46a0-9689-f899103f95a2" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">9</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">&lt;보기&gt;에서 인권 보장이 중요한 이유를 <span style="color:#ff0000;">모두 </span>골라 알맞게 <span style="color:#ff0000;">짝 지은 </span>것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_example_tb"><tbody><tr><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; width:5px; height:8pt"></td><td colspan="1" rowspan="2" style="border:none; border-collapse:collapse; width:70px; height:15pt; vertical-align:middle;"><p style="font-size:10pt;margin-top:0pt;margin-bottom:0pt;text-align:Center;"><span style="font-size:10pt;">&lt;보기&gt;</span></p></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px none black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:8pt"></td></tr><tr><td colspan="2" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td><td colspan="2" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px none black; border-collapse:collapse; height:5pt"></td></tr><tr><td colspan="1" rowspan="1" style="border-left:1px solid black;border-right:1px none black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td><td colspan="3" rowspan="1" style="border:none; border-collapse:collapse; height:19pt; vertical-align:middle;"><div class="itex_box_body" data-table-title="보기"><div class="itex_box_element"><p class="para0">ㄱ. 인권이 보장되지 않으면 생명을 유지할 수 없다.</p></div><div class="itex_box_element"><p class="para0">ㄴ. 인권 보장은 인간 존엄성을 실현하는 바탕이 된다.</p></div><div class="itex_box_element"><p class="para0">ㄷ. 인권 보장이 이루어질 때 인간다운 삶을 살 수 있다.</p></div><div class="itex_box_element"><p class="para0">ㄹ. 인권 보장이 이루어질 때 인격적으로 존중받을 수 있다.</p></div></div></td><td colspan="1" rowspan="1" style="border-left:1px none black;border-right:1px solid black;border-top:1px none black;border-bottom:1px none black; border-collapse:collapse; width:9pt; height:19pt"></td></tr><tr><td colspan="5" rowspan="1" style="border-left:1px solid black;border-right:1px solid black;border-top:1px none black;border-bottom:1px solid black; border-collapse:collapse; height:6pt"></td></tr></tbody></table></div></div>
          </div>

        </div>
        <div class="dan-2-1">
          <div id="entry-eba1baeb-9dd9-4ecf-bea0-dee5f9617399" data-id="eba1baeb-9dd9-4ecf-bea0-dee5f9617399" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">10</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 사례를 통해 알 수 있는 내용으로 알맞지 <span style="text-decoration:underline;text-decoration-color:black;">않은</span> 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;" class="itex_normal_tb"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:275px;height:43px;vertical-align:middle;" class="itex_box_body"><p class="para0">우리나라에서는 1998년부터 지하철과 같은 공공장소에 장애인 화장실을 의무적으로 설치하도록 하고 있다. 이후 남성용과 여성용을 분리하지 않는 장애인 화장실이 장애인의 인권을 침해한다는 국가 인권 위원회의 권고에 따라, 2007년부터는 남녀가 분리된 장애인 화장실이 설치되고 있다.</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>성별에 따른 차별이 강화되고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>장애에 따른 차별이 약화되고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>인권 보장을 위한 사회적 노력이 이루어지고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>인권 보장을 위한 제도적 노력이 이루어지고 있다.</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>장애의 유무와 관계없이 인권이 보장되어야 한다는 생각이 보편화되고 있다.</p></div></div></div>
          </div>
          <div id="entry-07e39895-491a-4698-b2a3-cb403adc869e" data-id="07e39895-491a-4698-b2a3-cb403adc869e" class="entry level3 ">
            <div class="entry-info">
              <span class="entry-num">11</span>
              <span class="entry-difficulty">하</span>
            </div>
            <div class="entry-problem"><p class="para0" style="text-align:left;">제시된 그림을 통해 설명할 수 있는 주제로 가장 알맞은 것을 고르시오.</p><div class="para0"><table style="border-collapse:collapse;width:275px;margin:3px 3px 3px 3px;"><tbody><tr><td colspan="1" rowspan="1" style="border:1px solid black;width:137px;height:118px;vertical-align:middle;"><p class="para0" style="text-align:center;"><span style="color:#ff0000;font-weight:bold;"><span style="display:inline-block;position:relative;top:0px; "><img style="width:113px;" src="https://d35bbraqcyivyx.cloudfront.net/FTC5001/0x4FBCA4C8F1CE11ECAF1292822AA13F8C.jpg" data-width="75px, 113px"></span></span></p></td><td colspan="1" rowspan="1" style="border:1px solid black;width:137px;height:118px;vertical-align:middle;"><p class="para0" style="text-align:center;"><span style="color:#ff0000;font-weight:bold;"><span style="display:inline-block;position:relative;top:0px; "><img style="width:113px;" src="https://d35bbraqcyivyx.cloudfront.net/FTC5001/0x4FDB620AF1CE11ECAF1292822AA13F8C.jpg" data-width="75px, 113px"></span></span></p></td></tr><tr><td colspan="1" rowspan="1" style="border-top:1px solid black;border-right:1px none black;border-bottom:1px none black;border-left:1px none black;width:137px;height:20px;vertical-align:middle;"><p class="para0" style="text-align:center;"><span style="font-weight:bold;">▲</span> 고대의 노예</p></td><td colspan="1" rowspan="1" style="border-top:1px solid black;border-right:1px none black;border-bottom:1px none black;border-left:1px none black;width:137px;height:20px;vertical-align:middle;"><p class="para0" style="text-align:center;">▲ 중세의 농노</p></td></tr></tbody></table></div><div class="level4"><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">① </span>사회권의 보장</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">② </span>시민 혁명의 결과&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">③ </span>사회적 약자의 보호</p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">④ </span>인권을 보장받지 못한 사람들 </p></div><div class="sel_list"><p class="para0" style="text-align:left;"><span class="sel_num_po">⑤ </span>모든 사람의 인권이 보장되는 사회</p></div></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bk-footer">
      <span class="bk-page-num">16</span>
      <span class="bk-info">강남종로학원ㅣ이단비편저</span>
    </div>
  </div>
</page>