@charset "UTF-8";

@media print {
  @page { size: auto; }
  page { -webkit-print-color-adjust: exact; page-break-after: always; margin: 10mm;  }
  page
  mjx-container[jax="SVG"] > svg { shape-rendering: crispedges; }
  /* page { margin: 10mm; } */
}

/* page[data-type="bk"] { width: 230mm; height: 303mm; } */
.bk-page { width: 230mm; height: 303mm; overflow: hidden; }

.bk-quiz-page { display: flex; flex-direction: column; }
.bk-quiz-page .bk-header { height: 23mm; }
.bk-quiz-page .bk-footer { height: 16mm; }
.bk-quiz-page .bk-body { height: 264mm; margin: 0mm 8mm; overflow: hidden; }
.bk-quiz-page .bk-body .dan-2 { display: grid; grid-template-columns: 1fr 1fr; justify-items: center; position: relative; }
/* .bk-quiz-page .bk-body .dan-2::after { content: ''; position: absolute; height: 100%; width: 1px; background-color: #ACACAC; left: 50%; top: 0px; } */
.bk-quiz-page .bk-body .dan-2 .dan-2-1 { position: relative; width: 100%; display: flex; flex-direction: column; overflow: hidden; }
.bk-quiz-page .entry:first-child { margin-top: 5mm; }


/********** 책등 **********/
page[data-type="spine"] { width: 30mm; height: 303mm; }
